<section class="vl-w-container">
  <h1 class="vl-w-title">
    {{@title}}
  </h1>
  <ul class="vl-w-grid vl-u-margin-bottom-small">
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Openbaar vervoer" @id="openbaar-vervoer">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Station Gent-St-Pieters op 1,5 km</h2>
              <p><a href="#!" class="vl-w-link">Routeplanner</a></p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Tram 1, Halte Veergrep op 500 m</h2>
              <p><a href="#!" class="vl-w-link">Routeplanner</a></p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Bus, Halte op 170 m</h2>
              <p><a href="#!" class="vl-w-link">Routeplanner</a></p>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Geen info:</span> toegankelijke haltes</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Geen info:</span> obstakels publiek domein</h2>
              <p>Bolle kasseien </p>
            </li>
          </ul>
        </Vl-modal>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Station Gent-St-Pieters op 1,5 km
          </li>
          <li class="vl-w-list__item is-checked">
            Tram 1, Halte Veergrep op 500 m
          </li>
          <li class="vl-w-list__item is-checked">
            Bus, Halte op 170 m
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Geen info:</span> toegankelijke haltes
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Geen info:</span> obstakels publiek domein
          </li>
        </ul>
      </Vl-card>
    </li>
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Parking en fietsenstalling" @id="parkeerplaats">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">2 voorbehouden plaatsen</h2>
              <p class="vl-u-margin-bottom">Er zijn 2 aangepaste parkeerplaatsen dicht bij de alternatieve inkom ; onder het Sint-Pietersplein is een ruime ondergrondse parkeergelegenheid met aangepaste parkeerplaatsen.</p>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_P_1.jpg" />
                </li>
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_P_2.jpg" />
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Naast elkaar parkeren: breedte 400 cm</h2>
              <p>publiek parkeerterrein, bolle kasseien ;  Breedte 250 cm, maar 1 Parkeerplaats met voetpad ernaast = 400 cm breed</p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Naast elkaar parkeren: breedte 400 cm</h2>
              <p>publiek parkeerterrein, bolle kasseien ;  Breedte 250 cm, maar 1 Parkeerplaats met voetpad ernaast = 400 cm breed</p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Max voertuig-hoogte 210 cm </h2>
              <p>Publiek, ondergronds (St-Pietersplein)</p>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> overdekte fietsenstalling</h2>
            </li>
          </ul>
        </Vl-modal>
        <p class="vl-w-info">Er is minstens één voorbehouden parkeerplaats met rolstoelvriendelijke ondergrond bij het uitstappen.</p>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            2 voorbehouden plaatsen
          </li>
          <li class="vl-w-list__item is-checked">
            Naast elkaar parkeren: breedte 400 cm
          </li>
          <li class="vl-w-list__item is-checked">
            Max voertuig-hoogte 210 cm
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> overdekte fietsenstalling
          </li>
        </ul>
      </Vl-card>
    </li>
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Inkom" @id="inkom">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Via alternatieve toegang</h2>
              <p class="vl-u-margin-bottom-small">Op de hoek met de Kantienberg. Bel met parlofoon. Er komt steeds iemand om deze deur te openen en U te begeleiden naar de balie in de inkomhal.</p>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_I_1.jpg" />
                </li>
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_I_2.jpg" />
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Geen drempel</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Dubbele glazen deur, Deurbreedte > 90cm	</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Bemande balie</h2>
              <p>Permanent iemand aanwezig</p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Elektronische betaalmogelijkheid</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet aanwezig:</span> Verlaagde balie
              </h2>
            </li>
          </ul>
        </Vl-modal>
        <p class="vl-w-info">De inkom is rolstoelvriendelijk. De inkombreedte is minstens 85cm met max 1 trede van 10cm.</p>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Via alternatieve toegang
          </li>
          <li class="vl-w-list__item is-checked">
            Geen drempel
          </li>
          <li class="vl-w-list__item is-checked">
            Dubbele glazen deur, Deurbreedte > 90 cm
          </li>
          <li class="vl-w-list__item is-checked">
            Bemande balie
          </li>
          <li class="vl-w-list__item is-checked">
            Elektronische betaalmogelijkheid
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> verlaagde balie
          </li>
        </ul>
      </Vl-card>
    </li>
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Activiteiten en beleving" @id="beleving">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Rolstoelvriendelijke lift, plateauliften zelf te bedienen, hellingen</h2>
              <p class="vl-u-margin-bottom-small">Alle verdiepingen en zalen bereikbaar.</p>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_C_1.jpg" />
                </li>
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_C_2.jpg" />
                </li>
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_C_3.jpg" />
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Prijsreductie voor personen met handicap</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Begeleider gratis</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">European Disability Card</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Interactief</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Rust- Zit-mogelijkheden</h2>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_Z.jpg" />
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Voel-elementen</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Braille</h2>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_B.jpg" />
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Doe-elementen</h2>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_D.jpg" />
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Publieke WIFI</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> rolstoel ter beschikking</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> audioguide</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> vitrinekasten onderrijdbaar</h2>
            </li>
          </ul>
        </Vl-modal>
        <p class="vl-w-info">Je kan het merendeel van de bedoelde activiteiten uitvoeren, met jouw beperking.</p>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Rolstoelvriendelijke lift, plateauliften zelf te bedienen, hellingen
          </li>
          <li class="vl-w-list__item is-checked">
            Prijsreductie voor personen met handicap
          </li>
          <li class="vl-w-list__item is-checked">
            Begeleider gratis
          </li>
          <li class="vl-w-list__item is-checked">
            European Disability Card
          </li>
          <li class="vl-w-list__item is-checked">
            Interactief
          </li>
          <li class="vl-w-list__item is-checked">
            Rust- Zit-mogelijkheden
          </li>
          <li class="vl-w-list__item is-checked">
            Voel-elementen
          </li>
          <li class="vl-w-list__item is-checked">
            Braille
          </li>
          <li class="vl-w-list__item is-checked">
            Doe-elementen
          </li>
          <li class="vl-w-list__item is-checked">
            Publieke WIFI
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> rolstoel ter beschikking
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> audioguide
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> vitrinekasten onderrijdbaar
          </li>
        </ul>
      </Vl-card>
    </li>
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Toilet" @id="toilet">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Helling</h2>
              <p class="vl-u-margin-bottom-small">Hoogteverschil van 15 cm via korte steile helling.</p>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <button type="button" class="vl-w-image vl-w-image--link vl-js-image-toggle">
                    <img src="/assets/img/Kina_T_1.jpg" alt="">
                  </button>
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Deurbreedte 88 cm</h2>
              <p class="vl-u-margin-bottom-small">Klikdeur, zonder trek- of duwkracht.</p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Ruimte naast toiletpot 90 cm</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Draairuimte in het toilet 150 cm</h2>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <button type="button" class="vl-w-image vl-w-image--link vl-js-image-toggle">
                    <img src="/assets/img/Kina_T_2.jpg" alt="">
                  </button>
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">2 beugels</h2>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <button type="button" class="vl-w-image vl-w-image--link vl-js-image-toggle">
                    <img src="/assets/img/Kina_T_3.jpg" alt="">
                  </button>
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Verzorgingstafel kinderen</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> Voldoende draairuimte aan de deur</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> Ruimte voor toiletpot 80 cm</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> Onderrijdbare wastafel</h2>
            </li>
          </ul>
        </Vl-modal>
        <p class="vl-w-info">Het toilet is rolstoelvriendelijk.</p>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Helling
          </li>
          <li class="vl-w-list__item is-checked">
            Deurbreedte 88 cm
          </li>
          <li class="vl-w-list__item is-checked">
            Ruimte naast toiletpot 90 cm
          </li>
          <li class="vl-w-list__item is-checked">
            Draairuimte in het toilet 150 cm
          </li>
          <li class="vl-w-list__item is-checked">
            2 beugels
          </li>
          <li class="vl-w-list__item is-checked">
            Verzorgingstafel kinderen
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> Voldoende draairuimte aan de deur
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> Ruimte voor toiletpot 80 cm
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> Onderrijdbare wastafel
          </li>
        </ul>
      </Vl-card>
    </li>
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Eten en Drinken" @id="etenendrinken">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Bereikbaar</h2>
              <p>Voorbij de balie.</p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Onderrijdbare tafel(s)</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Toegankelijke Menukaart</h2>
              <p class="vl-u-margin-bottom-small">Enkele (onderrijdbare) tafels.</p>
              <ul class="vl-w-list vl-w-list--images">
                <li class="vl-w-list__item">
                  <Vl-image @filename="Kina_Sh.jpg" />
                </li>
              </ul>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Extra's voor kinderen</h2>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Elektronische betaalmogelijkheid</h2>
            </li>
            <li class="vl-w-list__item">
              <h2 class="vl-w-title vl-w-title--detail"><span class="vl-w-label">Niet voldaan:</span> Aangepaste maaltijden</h2>
            </li>
          </ul>
        </Vl-modal>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Bereikbaar
          </li>
          <li class="vl-w-list__item is-checked">
            Onderrijdbare tafel(s)
          </li>
          <li class="vl-w-list__item is-checked">
            Toegankelijke Menukaart
          </li>
          <li class="vl-w-list__item is-checked">
            Extra's voor kinderen
          </li>
          <li class="vl-w-list__item is-checked">
            Elektronische betaalmogelijkheid
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> Aangepaste maaltijden
          </li>
        </ul>
      </Vl-card>
    </li>
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Shop" @id="shop">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Bereikbaar</h2>
              <p>Voorbij de balie.</p>
            </li>
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Elektronische betaalmogelijkheid</h2>
            </li>
          </ul>
        </Vl-modal>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Bereikbaar
          </li>
          <li class="vl-w-list__item is-checked">
            Elektronische betaalmogelijkheid
          </li>
        </ul>
      </Vl-card>
    </li>
    <li class="vl-w-grid__item">
      <Vl-card>
        <Vl-modal @title="Bibliotheek - Leesruimte" @id="bibiliotheek">
          <ul class="vl-w-list vl-w-list--checks-large vl-u-margin-bottom-small">
            <li class="vl-w-list__item is-checked">
              <h2 class="vl-w-title vl-w-title--detail">Bereikbaar</h2>
              <p>Voorbij de balie.</p>
            </li>
          </ul>
        </Vl-modal>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Bereikbaar
          </li>
        </ul>
      </Vl-card>
    </li>
  </ul>
  <p class="vl-w-tiny">Informatie van Toevla. <a href="https://toevla.vlaanderen.be/publiek/nl/register/detail/3147" class="vl-w-link vl-w-link--neutral">Meer info</a></p>
</section>

