/* ==========================================================================
   #SHAME
   ========================================================================== */

.vl-w-cta {
  padding: $vl-unit $vl-unit $vl-unit-tiny;
  text-align: center;
  border-radius: $vl-radius;
  border-top: 1px solid $vl-neutral-lighter;
}

