/* ==========================================================================
   #SHAME
   ========================================================================== */

.vl-d-icon {
  width: $vl-unit-huge;
  height: $vl-unit-huge;
}

// Override font for Kina theme
.vl-w-theme-kina {
  font-family: "Lato", sans-serif;
}
