<li class="au-c-criteria-list-item {{if @error "au-c-criteria-list-item--error"}}">
  {{#if @error}}
  <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--error" viewBox="0 0 24 24" aria-hidden="true">
    <polygon points="12 13.816 5.203 20.613 3.387 18.797 10.184 12 3.387 5.203 5.203 3.387 12 10.184 18.797 3.387 20.613 5.203 13.816 12 20.613 18.797 18.797 20.613"/>
  </svg>
  <span class="au-u-hidden-visually" role="text">Gedeeltelijk in orde:</span>
  {{/if}}
  {{yield}}
</li>