<li class="au-w-criterium-list__item">
  <h4 class="au-w-criterium-list__title">
    <span>
      {{#if @check}}
      <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--active" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M12,2 C17.514,2 22,6.486 22,12 C22,17.515 17.514,22 12,22 C6.486,22 2,17.515 2,12 C2,6.487 6.486,2 12,2 Z M17.1017,6.5 L10.2203,14.2234 L6.42374,11.1809 L5,13.0532 L10.6949,17.5 L19,7.90426 L17.1017,6.5 Z"/>
      </svg>
      <span class="au-w-criterium-list__label au-u-hidden-visually">Aanwezig</span>
      {{else}}
        {{#if @info}}
          <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--faded" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M12,2 C17.514,2 22,6.486 22,12 C22,17.515 17.514,22 12,22 C6.486,22 2,17.515 2,12 C2,6.487 6.486,2 12,2 Z M12,9.15818147 L9.50755266,9.15818147 L9.50755266,11.6506288 L10.7537763,11.6506288 L10.7537763,15.3892998 L8.26132899,15.3892998 L8.26132899,17.8817472 L15.738671,17.8817472 L15.738671,15.3892998 L13.2462237,15.3892998 L13.2462237,10.4044051 C13.2462237,9.71648968 12.6891617,9.15818147 12,9.15818147 L12,9.15818147 Z M12,5.10795455 C11.1396072,5.10795455 10.4422204,5.80539116 10.4422204,6.66573413 C10.4422204,7.52607711 11.1396072,8.22351372 12,8.22351372 C12.8603928,8.22351372 13.5577796,7.52607711 13.5577796,6.66573413 C13.5577796,5.80539116 12.8603928,5.10795455 12,5.10795455 Z"/>
          </svg>
          <span class="au-w-criterium-list__label au-u-hidden-visually">Info</span>
          {{else}}
          <svg xmlns="http://www.w3.org/2000/svg" class="au-w-icon au-w-icon--error" viewBox="0 0 24 24" aria-hidden="true">
            <polygon points="12 13.816 5.203 20.613 3.387 18.797 10.184 12 3.387 5.203 5.203 3.387 12 10.184 18.797 3.387 20.613 5.203 13.816 12 20.613 18.797 18.797 20.613"/>
          </svg>
          <span class="au-w-criterium-list__label au-u-hidden-visually">Niet aanwezig</span>
        {{/if}}
      {{/if}}
    </span>
    {{@criterium}}
  </h4>
  <div class="au-w-criterium-list__content">
    {{yield}}
  </div>
</li>