<div class="au-w-rating">
  <ul class="au-w-rating__stars">
    <li class="au-w-rating__star au-w-rating__star--check">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="au-w-icon" aria-hidden="true">
        <path fill-rule="evenodd" d="M12,0.51904798 L13.5958587,2.11504798 L15.7319155,1.38062856 L16.2938587,3.01204798 L18.0196999,3.01248934 L18.0188587,4.73804798 L19.6515607,5.30027376 L18.9158587,7.43504798 L20.5131413,9.03218928 L18.9158587,10.629048 L19.6515607,12.7641048 L18.0188587,13.326048 L18.0196999,15.0518892 L16.2938587,15.051048 L15.7319155,16.68375 L15.0188587,16.438048 L15.0190142,23.0906611 L15.0029858,23.09 L12,20.0867943 L8.99698575,23.09 L8.98098575,23.0906611 L8.9808587,16.437048 L8.26808449,16.68375 L7.7058587,15.051048 L5.98030006,15.0518892 L5.9798587,13.326048 L4.34843929,12.7641048 L5.0828587,10.628048 L3.4868587,9.03218928 L5.0828587,7.43604798 L4.34843929,5.30027376 L5.9798587,4.73804798 L5.98030006,3.01248934 L7.7058587,3.01204798 L8.26808449,1.38062856 L10.4038587,2.11504798 L12,0.51904798 Z M15.6162707,5.14615885 L10.7384838,10.620786 L8.04734387,8.46415121 L7.03814512,9.79130562 L11.0748976,12.9433594 L16.9618549,6.14154947 L15.6162707,5.14615885 Z"/>
      </svg>
      <span class="au-u-hidden-visually">Stap 1 behaald</span>
    </li>
    <li class="au-w-rating__star">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="au-w-icon" aria-hidden="true">
        <path fill-rule="evenodd" d="M12,0.51904798 L13.5958587,2.11504798 L15.7319155,1.38062856 L16.2938587,3.01204798 L18.0196999,3.01248934 L18.0188587,4.73804798 L19.6515607,5.30027376 L18.9158587,7.43504798 L20.5131413,9.03218928 L18.9158587,10.629048 L19.6515607,12.7641048 L18.0188587,13.326048 L18.0196999,15.0518892 L16.2938587,15.051048 L15.7319155,16.68375 L15.0188587,16.438048 L15.0190142,23.0906611 L15.0029858,23.09 L12,20.0867943 L8.99698575,23.09 L8.98098575,23.0906611 L8.9808587,16.437048 L8.26808449,16.68375 L7.7058587,15.051048 L5.98030006,15.0518892 L5.9798587,13.326048 L4.34843929,12.7641048 L5.0828587,10.628048 L3.4868587,9.03218928 L5.0828587,7.43604798 L4.34843929,5.30027376 L5.9798587,4.73804798 L5.98030006,3.01248934 L7.7058587,3.01204798 L8.26808449,1.38062856 L10.4038587,2.11504798 L12,0.51904798 Z"/>
      </svg>
      <span class="au-u-hidden-visually">Stap 2 niet behaald</span>
    </li>
    <li class="au-w-rating__star">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="au-w-icon" aria-hidden="true">
        <path fill-rule="evenodd" d="M12,0.51904798 L13.5958587,2.11504798 L15.7319155,1.38062856 L16.2938587,3.01204798 L18.0196999,3.01248934 L18.0188587,4.73804798 L19.6515607,5.30027376 L18.9158587,7.43504798 L20.5131413,9.03218928 L18.9158587,10.629048 L19.6515607,12.7641048 L18.0188587,13.326048 L18.0196999,15.0518892 L16.2938587,15.051048 L15.7319155,16.68375 L15.0188587,16.438048 L15.0190142,23.0906611 L15.0029858,23.09 L12,20.0867943 L8.99698575,23.09 L8.98098575,23.0906611 L8.9808587,16.437048 L8.26808449,16.68375 L7.7058587,15.051048 L5.98030006,15.0518892 L5.9798587,13.326048 L4.34843929,12.7641048 L5.0828587,10.628048 L3.4868587,9.03218928 L5.0828587,7.43604798 L4.34843929,5.30027376 L5.9798587,4.73804798 L5.98030006,3.01248934 L7.7058587,3.01204798 L8.26808449,1.38062856 L10.4038587,2.11504798 L12,0.51904798 Z"/>
      </svg>
      <span class="au-u-hidden-visually">Stap 3 niet behaald</span>
    </li>
    <li class="au-w-rating__star">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="au-w-icon" aria-hidden="true">
        <path fill-rule="evenodd" d="M12,0.51904798 L13.5958587,2.11504798 L15.7319155,1.38062856 L16.2938587,3.01204798 L18.0196999,3.01248934 L18.0188587,4.73804798 L19.6515607,5.30027376 L18.9158587,7.43504798 L20.5131413,9.03218928 L18.9158587,10.629048 L19.6515607,12.7641048 L18.0188587,13.326048 L18.0196999,15.0518892 L16.2938587,15.051048 L15.7319155,16.68375 L15.0188587,16.438048 L15.0190142,23.0906611 L15.0029858,23.09 L12,20.0867943 L8.99698575,23.09 L8.98098575,23.0906611 L8.9808587,16.437048 L8.26808449,16.68375 L7.7058587,15.051048 L5.98030006,15.0518892 L5.9798587,13.326048 L4.34843929,12.7641048 L5.0828587,10.628048 L3.4868587,9.03218928 L5.0828587,7.43604798 L4.34843929,5.30027376 L5.9798587,4.73804798 L5.98030006,3.01248934 L7.7058587,3.01204798 L8.26808449,1.38062856 L10.4038587,2.11504798 L12,0.51904798 Z"/>
      </svg>
      <span class="au-u-hidden-visually">Stap 4 niet behaald</span>
    </li>
  </ul>
  <p class="au-w-rating__info">
    {{yield}}
  </p>
</div>
