<section class="au-w-section au-w-section--column">
    <h3 class="au-w-section__title">{{@node.title}}
    </h3>
    <ul class="au-w-section-list">
      {{#each this.sortedChildren as |child|}}
        <ChildLevel2 @node={{child}} @experience={{@experience}}/>
      {{/each}}
    </ul>
  </section>