<h3 class="au-w-hidden-visually">Belangrijkste voorzieningen</h3>
<ul class="au-w-highlight-list">
  {{#each this.sortedIcons as |icon|}}
    <li class="au-w-highlight-list__item">
      <ConceptIcon @for={{icon.uri}} />
      <span class="au-w-highlight-list__tooltip">{{icon.title}}</span>
    </li>
  {{/each}}
</ul>