<section class="au-w-section au-w-section--filter">
  <div class="au-w-filter">
    <h3 class="au-w-filter__title">Filter op beperking:</h3>
    <ul class="au-w-filter__list">
      {{#each this.targetAudience.audiences as |audience|}}
      <li class="au-w-filter__list-item">
        <label role="menuitem" aria-label="{{audience.title}}" class="au-w-control au-w-control--checkbox">
          <input
            type="checkbox"
            class="au-w-control__input"
            {{on "input" (fn this.toggleSelected audience)}}
            checked={{audience-is-selected audience}} />
          <span class="au-w-control__indicator"></span>
          <span class="au-w-control__text">{{audience.title}}</span>
        </label>
      </li>
      {{/each}}
    </ul>
  </div>
  <div>
    <button  role="menuitem" class="au-w-button-link au-w-button-link--neutral">Reset filters</button>
  </div>
</section>
