
<div class="vl-w-section__details">
  <div class="vl-w-section__detail-header">
    <LinkTo @route="overview" class="vl-w-link vl-w-link--neutral">
      Venster sluiten
    </LinkTo>
  </div>
  <div class="vl-w-section__body">
    <h3 class="vl-w-title vl-w-title--section">Details bereikbaarheid</h3>
    <ul class="vl-w-list vl-w-list--checks vl-u-margin-bottom-small">
      <li class="vl-w-list__item is-checked">
        <h4 class="vl-w-title vl-w-title--detail">Aangepaste circulatie</h4>
        <ul class="vl-w-list vl-w-list--details">
          <li class="vl-w-list__item">
            <p>Bereikbaar met rolstoel smalste punt 85cm</p>
            <ul class="vl-w-list vl-w-list--images">
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
                {{outlet}}
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
            </ul>
          </li>
          <li class="vl-w-list__item">
            <p class="u-spacer--tiny">Brede deur voor rolstoel maximum 85cm</p>
            <ul class="vl-w-list vl-w-list--images">
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="vl-w-list__item is-checked">
        <h4 class="vl-w-title vl-w-title--detail">Deurbreedte minimum 85cm</h4>
        <ul class="vl-w-list vl-w-list--details">
          <li class="vl-w-list__item">
            <p >Bereikbaar met rolstoel smalste punt 85cm</p>
            <ul class="vl-w-list vl-w-list--images">
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
            </ul>
          </li>
          <li class="vl-w-list__item">
            <p>Brede deur voor rolstoel maximum 85cm</p>
            <ul class="vl-w-list vl-w-list--images">
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
              <li class="vl-w-list__item">
                <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
                </LinkTo>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="vl-w-list__item">
        <h4 class="vl-w-title vl-w-title--detail">Geen beugels</h4>
        <ul class="vl-w-list vl-w-list--images">
          <li class="vl-w-list__item">
            <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
            </LinkTo>
          </li>
          <li class="vl-w-list__item">
            <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
            </LinkTo>
          </li>
          <li class="vl-w-list__item">
            <LinkTo @route="overview.detail.picture" class="vl-w-image vl-w-image--link">
            </LinkTo>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
