<AuCriteriaItem @criterium={{@node.title}} @check={{this.area.height}}>
  {{#if this.area.height}}
    <p class="au-w-info-text">
      {{this.area.width}} cm X {{this.area.height}} cm
    </p>
  {{/if}}
</AuCriteriaItem>