/* ==========================================================================
   #COMPONENT HOLDER
   ========================================================================== */

.au-d-component {
  position: relative;
  border: 1px solid $au-neutral-lighter;
  background-color: $au-white;
  border-radius: $au-radius;
  padding: $au-unit;
}

.au-d-component--small {
  // max-width: $au-layout-width-tiny;
}

  .au-d-component__contrast {
    box-shadow: 0 0 $au-unit-small rgba($au-neutral-darkest,.1);
  }
