/* ==========================================================================
   #COMPONENT HOLDER
   ========================================================================== */

.vl-d-component {
  position: relative;
  border: 1px solid $vl-neutral-lighter;
  background-color: $vl-white;
  border-radius: $vl-radius;
  padding: $vl-unit;
}

.vl-d-component--small {
  max-width: $vl-layout-width-tiny;
}

  .vl-d-component__contrast {
    box-shadow: 0 0 $vl-unit-small rgba($vl-neutral-darkest,.1);
  }
