/* ==================================
   #LINKS
   ================================== */

/* Component
   ========================================================================== */

.au-d-link {
  transition: color $au-transition, text-decoration $au-transition;
  font-weight: $au-regular;
  text-decoration-color: $au-primary;

  &,
  &:visited {
    color: $au-primary;
  }

  &:hover,
  &:focus {
    color: $au-primary-light;
    text-decoration-color: $au-primary-lighter;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: $au-primary-light;
    text-decoration: none;
  }
}

.au-d-link--neutral {
  &,
  &:visited {
    color: var(--au-neutral-dark);
    text-decoration-color: var(--au-neutral-light);
  }

  &:hover,
  &:focus {
    color: var(--au-neutral);
    text-decoration-color: var(--au-neutral-lighter);
  }

  &:focus {
    outline: $au-outline;
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: var(--au-neutral);
    text-decoration: none;
  }
}

.au-d-link--icon {
  position: relative;
  padding-left: $au-unit-small;

  .au-d-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.au-d-link--bare {
  &,
  &:visited,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
