/* ==================================
   #THEME
   Various color themes
   ================================== */

.vl-d-theme-white {
  color: $vl-neutral-darker;
  background-color: $vl-white;
}

.vl-d-theme-neutral-lightest {
  color: $vl-neutral-darkest;
  background-color: $vl-neutral-lightest;
}
