/* ==================================
   #THEME
   Various color themes
   ================================== */

.au-d-theme-white {
  color: var(--au-neutral-darker);
  background-color: var(--au-white);
}

.au-d-theme-neutral-lightest {
  color: var(--au-neutral-darkest);
  background-color: var(--au-neutral-lightest);
}
