<div class="vl-w-modal">
  <div class="vl-w-modal__inner">
    <div class="vl-w-modal__header">
      <h3>Bereikbaar met rolstoel smalste punt 85cm</h3>
      <p class="vl-u-base">
        <LinkTo @route="overview.detail" class="vl-w-link vl-w-link--neutral">
          Venster sluiten
        </LinkTo>
      </p>
    </div>
    <div class="vl-w-modal__body">
      <div class="vl-w-image vl-w-image--large"></div>
    </div>
  </div>
</div>
