<header class="au-o-region-large au-d-theme-neutral-lightest au-u-padding-bottom">
  <div class="au-o-layout au-o-layout--medium">
    <p><a href="/" class="au-d-link au-d-link--neutral">&leftarrow; Terug naar overzicht</a></p>
    <div class="au-d-editor">
      <h1 class="">Toegankelijkheid Widget</h1>
      <hr>
    </div>
  </div>
</header>

<main class="au-o-region au-d-theme-neutral-lightest au-d-widget">
  <div class="au-o-layout au-o-layout--medium au-d-editor">
    <ul>
      {{#each this.model as |widget|}}
        <li>
          <LinkTo @route="widgets.show" @model={{widget.id}}>{{widget.pointOfInterest.label}}</LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>
</main>
