{{#component @itemComponent check=(get @experience @key)}}
  {{@node.title}}
  <p class="au-w-info-text">
    {{#if (get @experience @key)}}
      {{#if @node.positiveTemplateString}}
          {{@node.positiveTemplateString}}
      {{/if}}
    {{else}}
      {{#if @node.negativeTemplateString}}
          {{@node.negativeTemplateString}}
      {{/if}}
    {{/if}}
  </p>
{{/component}}