{{#component @itemComponent check=(get @experience @key)}}
  {{@node.title}}
  <p class="au-w-info-text">
    {{#if (get @experience @key)}}
      {{get @experience @key}} cm
    {{/if}}
  </p>
{{/component}}