/* ==================================
   #BUTTON LINK
   Button styled as a link
   ================================== */

.au-w-button-link {
  font-size: $au-base !important;
  line-height: 1.5 !important;
  font-weight: $au-regular !important;
  font-weight: var(--au-regular) !important;
  padding: 0 !important;
  border: 0 !important;
  appearance: none !important;
  -webkit-appearance: none !important; // doesn't work without prefix on Safari iOS11
  position: relative !important;
  display: inline-flex !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  text-align: left !important;
  text-decoration: underline !important;
  text-decoration-color: $au-primary-light !important;
  text-decoration-color: var(--au-link-hover) !important;
  color: $au-primary !important;
  background-color: transparent !important;
  transition: color $au-transition !important;
  cursor: pointer !important;
  padding: $au-unit-tiny 0 !important;

  &:hover,
  &:focus {
    color: $au-primary-light !important;
    color: var(--au-link-hover) !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    text-decoration-color: $au-primary-light !important;
    text-decoration-color: var(--au-link-hover) !important;
  }

  &:focus {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: $au-outline-color !important;
    outline-color: var(--au-outline) !important;
  }

  &:active {
    background-color: transparent !important;
  }

  &:visited {
    background-color: transparent !important;
  }
}

.au-w-button-link__text {
  width: 100% !important;
}


/* Modifiers
  ========================================================================== */

.au-w-button-link--neutral {
  color: $au-neutral-darker !important;
  text-decoration-color: $au-neutral !important;

  &:hover,
  &:focus {
    color: $au-neutral-darkest !important;
    text-decoration-color: $au-neutral !important;
  }
}

.au-w-button-link--block {
  width: 100% !important;
}
