// /* ==================================
//    #CRITERIA
//    ================================== */

.au-w-criterium-list,
ul.au-w-criterium-list {
  overflow: visible !important;
  list-style: initial !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 16px !important;
}

.au-w-criterium-list--detail > .au-w-criterium-list__item .au-w-icon--info {
  display: none !important;
}

.au-w-criterium-list__item,
li.au-w-criterium-list__item {
  margin: 0 !important;
  padding: 0 !important;
  list-style: initial !important;
  display: list-item !important;

  & + & {
    margin-top: $au-unit-tiny/2 !important;
    padding-top: $au-unit-tiny/2 !important;
  }

  .au-w-criterium-list--detail & {
    display: list-item !important;
    position: relative !important;
    list-style: initial !important;
    margin-top: $au-unit-tiny/2 !important;
  }

  .au-w-criterium-list--detail & .au-w-icon--active {
    display: none !important;
  }

  .au-w-criterium-list--detail &.au-w-criterium-list__item--error,
  .au-w-criterium-list--detail .au-w-criterium-list--detail &.au-w-criterium-list__item--error {
    list-style-type: none !important;
  }

  .au-w-criterium-list--detail &.au-w-criterium-list__item--error .au-w-icon--error,
  .au-w-criterium-list--detail &.au-w-criterium-list__item--error .au-w-icon--faded {
    width: 15px !important;
    height: 15px !important;
    bottom: -.25ex !important;
    margin-left: -18px !important;
    margin-right: 0 !important;
  }

  .au-w-criterium-list--detail & {
    list-style-type: initial !important;
  }

  .au-w-criterium-list--detail .au-w-criterium-list--detail & {
    list-style-type: circle !important;
  }

  .au-w-criterium-list--detail .au-w-criterium-list--detail .au-w-criterium-list--detail .au-w-criterium-list--detail & {
    list-style: none !important;

    &:before {
      content: "-" !important;
      display: inline-block !important;
      width: 15px !important;
      text-align: center !important;
      margin-right: 1px !important;
    }
  }

  .au-w-criterium-list--detail .au-w-criterium-list--detail .au-w-criterium-list--detail &.au-w-criterium-list__item--error {
    margin-left: -$au-unit-small - $au-unit-tiny !important;
  }

  .au-w-criterium-list--detail .au-w-criterium-list--detail .au-w-criterium-list--detail &.au-w-criterium-list__item--error:before {
    display: none !important;
  }

  .au-w-criterium-list--detail & .au-w-criterium-list__title {
    display: inline !important;
  }
}

.au-w-criterium-list__title {
  position: relative !important;
  font-size: $au-base !important;
  line-height: 1.5 !important;
  color: var(--au-neutral-darker) !important;
  font-weight: $au-light !important;
  display: flex !important;
  margin: 0 !important;

  .au-w-icon-position {
    position: absolute;
    top: 0 !important;
    left: -19px !important;
    width: 16px !important;
    background-color: var(--au-white) !important;
  }

  .au-w-criterium-list--detail & .au-w-icon-position {
    top: -$au-unit-tiny/4 !important;
  }

  .au-w-icon {
    width: 15px !important;
    height: 15px !important;
    bottom: -.25ex !important;

  }
}

.au-w-criterium-list__content {
  font-size: 15px !important;
  line-height: 1.3 !important;
  font-weight: $au-light !important;
  color: var(--au-neutral-darker) !important;
  margin-left: $au-unit-small !important;
  text-align: left !important;

  & .au-w-criterium-list__content {
    margin-left: 0 !important;
  }

  & .au-w-criterium-list__content .au-w-criterium-list__content {
    margin-left: $au-unit-small !important;
  }

  > * + * {
    margin-top: $au-unit-tiny !important;
  }

  h5 {
    font-size: 15px !important;
    line-height: 1.3 !important;
    font-weight: $au-regular !important;
    color: var(--au-neutral) !important;
    margin: $au-unit-small 0 $au-unit-tiny !important;
  }

  strong {
    font-weight: $au-medium !important;
    font-weight: var(--au-medium) !important;
  }

  ul {
    padding-left: $au-unit-small + $au-unit-tiny !important;
    margin: 0 !important;
  }

  a:not(.au-c-button) {
    transition: color $au-transition, text-decoration $au-transition !important;
    font-weight: $au-regular !important;
    font-weight: var(--au-regular) !important;
    text-decoration-thickness: 1px !important;
    text-decoration: underline !important;

    &,
    &:visited {
      color: var(--au-link) !important;
      text-decoration-color: var(--au-link-hover) !important;
    }

    &:hover,
    &:focus {
      color: var(--au-link-hover) !important;
      text-decoration: none !important;
    }

    &:focus {
      outline-width: 2px !important;
      outline-style: solid !important;
      outline-color: $au-outline-color !important;
      outline-color: var(--au-outline) !important;
      outline-offset: $au-unit-tiny/2 !important;
    }
  }
}


// Demo styles, not used in production
.au-w-criteria-list-item {
  display: list-item !important;
  position: relative !important;
  list-style: initial !important;
  margin-top: $au-unit-tiny/2 !important;

  .au-w-criterium-list__content ul ul & {
    list-style-type: circle !important;
  }

  .au-w-criterium-list__content ul ul ul & {
    list-style-type: none !important !important;
    margin-left: 0 !important;

    &:before {
      content: "-" !important;
      position: relative !important;
      display: inline-block !important;
      width: 15px !important;
      height: 15px !important;
      text-align: center !important;
      margin-right: 1px !important;
      background: transparent !important;
      top: 0 !important;
      left: 0 !important;
    }
  }
}

.au-w-criteria-list-item--error {
  &,
  .au-w-criterium-list__content ul ul &,
  .au-w-criterium-list__content ul ul ul & {
    list-style: none !important;
    list-style-type: none !important;
  }

  .au-w-criterium-list__content ul ul ul & {
    margin-left: 20px !important;
  }

  .au-w-criterium-list__content ul ul ul &:before {
    display: none !important;
  }

  .au-w-icon {
    width: 15px !important;
    height: 15px !important;
    bottom: -.25ex !important;
    margin-left: -18px !important;
    margin-right: 0 !important;
  }
}
