/* ==================================
   #WIDGET CONTAINER
   ================================== */

.au-w-container {
  position: relative !important;
  background-color: var(--au-white) !important;
  padding: 0 $au-unit-small !important;
  border: .1rem solid var(--au-neutral-lighter) !important;
  border-radius: $au-radius !important;

  // Reset
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  p,
  span,
  button {
    text-transform: initial !important;
  }

  ul {
    list-style: none !important;
    padding-left: 0 !important;
    overflow: visible !important;
  }

  li {
    padding-left: 0 !important;
  }

  li:before,
  li:after {
    display: none !important;
  }

  a:before,
  a:after {
    display: none !important;
  }

  &,
  *,
  *:after,
  *:before {
    font-size: 15px !important;
    font-family: $au-font !important;
    font-family: var(--au-font) !important;
    line-height: 1.5 !important;
    box-sizing: border-box !important;
  }
}
