/* ==================================
   #WIDGET CONTAINER
   ================================== */

.au-w-container {
  font-size: 15px;
  line-height: 1.5;
  position: relative;

  // Reset box-sizing
  &,
  *,
  *:before,
  *:after {
    font-family: $au-font;
    font-family: var(--au-font);
    box-sizing: border-box;
  }
}
