/* ==================================
   #WIDGET CAROUSEL
   ================================== */

.au-w-carousel {
  position: relative !important;

  /* For Carousel Component */
  .carousel-item {
    position: relative !important;
    transition: all $au-transition !important;
  }

  .carousel-item.left, .carousel-item.right {
    display: block !important;
  }

  .carousel-item.left, .carousel-item.right {
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
  }

  .carousel-item.left {
    left: 100% !important;
  }

  .carousel-item.right {
    left: -100% !important;
  }


  .carousel-item.active.left.slide-out {
    left: -100% !important;
  }

  .carousel-item.active.right.slide-out {
    left: 100% !important;
  }


  .carousel-item.left.slide-in, .carousel-item.right.slide-in {
    left: 0 !important;
  }

  .carousel-item.active {
    position: relative !important;
    left: 0 !important;
  }
}

.au-w-carousel__figure {
  display: block !important;
  margin: 0 !important;
  width: 100% !important;
  position: relative !important;
  background-color: $au-neutral-darkest !important;
  overflow: hidden !important;
  height: 400px !important;
  max-height: calc(100vh - #{$au-unit-huge}) !important;

  @include mq(small) {
    height: 600px !important;
  }
}

.au-w-carousel__image {
  display: block !important;
  height: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;

  @supports (object-fit: contain) {
    object-fit: contain !important;
  }
}

.au-w-carousel__caption {
  font-family: $au-font !important;
  font-family: var(--au-font) !important;
  font-size: $au-base !important;
  line-height: 1.5 !important;
  text-align: left !important;
  color: $au-neutral-dark !important;
  display: block !important;
  padding: $au-unit-tiny/2 $au-unit-tiny !important;
  background-color: $au-white !important;
  position: absolute !important;
  bottom: $au-unit-small !important;
  left: $au-unit-small !important;
  width: calc(100% - #{$au-unit}) !important;
  border-radius: $au-radius !important;

  @include mq(medium) {
    padding: $au-unit-tiny $au-unit-small !important;
  }
}

.au-w-carousel__button {
  font-size: $au-h6 !important;
  line-height: 1.5 !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%) !important;
  border: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: $au-unit-small !important;
  color: $au-neutral-lighter !important;
  cursor: pointer !important;
  width: $au-unit-large + $au-unit-small !important;
  height: $au-unit-large + $au-unit-small !important;
  background-color: rgba($au-neutral-darkest,.3) !important;
  transition: color $au-transition, background-color $au-transition !important;

  &:hover,
  &:focus {
    color: $au-white !important;
    background-color: rgba($au-neutral-darkest,.5) !important;
  }

  &:focus {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: $au-outline-color !important;
    outline-color: var(--au-outline) !important;
    outline-offset: -2px !important;
  }

  &:active {
    color: $au-neutral-light !important;
  }

  .au-w-icon {
    margin-right: 0 !important;
  }
}

.au-w-carousel__button--next {
  right: 0 !important;
  border-top-left-radius: $au-unit-large !important;
  border-bottom-left-radius: $au-unit-large !important;
}

.au-w-carousel__button--previous {
  left: 0 !important;
  border-top-right-radius: $au-unit-large !important;
  border-bottom-right-radius: $au-unit-large !important;
}

.au-w-carousel__pagination {
  font-size: 13px !important;
  line-height: 1 !important;
  position: relative !important;
  bottom: .15ex !important;
  font-weight: $au-bold !important;
  font-weight: var(--au-bold) !important;
  text-transform: uppercase !important;
  margin-right: $au-unit-tiny/2 !important;
  padding-right: $au-unit-tiny !important;
  border-right: 1px solid $au-neutral-light !important;
}
