/* ==================================
   #WIDGET COLLAPSABLE SECTION
   ================================== */

.au-w-collapsable-section-title {
  font-size: $au-small !important;
  line-height: 1.3 !important;
  font-weight: $au-regular !important;
  font-weight: var(--au-regular) !important;
  margin: 0 !important;
}

.au-w-collapsable-section-title-group {
  font-size: $au-small !important;
  line-height: 1.3 !important;
  font-weight: $au-regular !important;
  font-weight: var(--au-regular) !important;
  display: inline-flex !important;
  align-items: center !important;
  margin-bottom: 0 !important;
}

.au-w-collapsable-section-button {
  font-family: $au-font !important;
  font-family: var(--au-font) !important;
  font-weight: $au-regular !important;
  font-weight: var(--au-regular) !important;
  font-size: $au-small !important;
  line-height: 1.3 !important;
  cursor: pointer !important;
  display: flex !important;
  align-items: center !important;
  text-align: left !important;
  justify-content: space-between !important;
  width: 100% !important;
  padding: $au-unit-tiny $au-unit-tiny !important;
  background-color: var(--au-neutral-lightest) !important;
  border: 1px solid var(--au-neutral-lightest) !important;
  border-radius: $au-radius !important;
  color: var(--au-neutral-darker) !important;

  &:hover,
  &:focus {
    color: var(--au-neutral-darkest) !important;
    text-decoration: none !important;
  }

  &:focus {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: $au-outline-color !important;
    outline-color: var(--au-outline) !important;
    outline-offset: -2px !important;
  }

  &[aria-expanded="true"] {
    color: var(--au-neutral-darkest) !important;
    border: 1px solid var(--au-neutral-lighter) !important;
    border-bottom-right-radius: 0 !important;
    text-decoration-color: var(--au-neutral) !important;

    &:hover,
    &:focus {
      text-decoration: none !important;
    }
  }
}

.au-w-collapsable-section-toggle {
  display: block !important;
}

.au-w-collapsable-section-toggle,
.au-w-collapsable-section-toggle__true,
.au-w-collapsable-section-toggle__false {
  font-size: 13px !important;
  line-height: 1.5 !important;
  font-weight: $au-regular;
  color: var(--au-neutral-dark) !important;
  text-decoration: underline !important;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}

.au-w-collapsable-section-button[aria-expanded] .au-w-collapsable-section-toggle .au-w-collapsable-section-toggle__false {
  display: none !important;
}

.au-w-collapsable-section-button[aria-expanded="true"] .au-w-collapsable-section-toggle .au-w-collapsable-section-toggle__true {
  display: none !important;

}

.au-w-collapsable-section-button[aria-expanded="true"] .au-w-collapsable-section-toggle .au-w-collapsable-section-toggle__false {
  display: block !important;
}

.au-w-collapsable-section-content {
  border: 1px solid var(--au-neutral-lighter) !important;
  border-bottom-left-radius: $au-radius !important;
  border-bottom-right-radius: $au-radius !important;
  border-top: 0 !important;
  padding: 9px !important;
  margin-left: $au-unit-small !important;
  margin-top: 0 !important;
  width: calc(100% - #{$au-unit-small}) !important;

  &:focus {
    outline: none !important;
  }
}
