/* ==================================
   #DROPDOWN
   ================================== */

.au-w-dropdown {
  position: relative !important;
  display: inline-block !important;
}

.au-w-dropdown__toggle {
  font-weight: normal !important;
  color: var(--au-link) !important;
  display: flex !important;
  align-items: center !important;
  position: relative !important;
  padding: $au-unit-tiny !important;
  border-radius: $au-radius !important;

  &:focus-within {
    outline: $au-outline !important;
  }

  &,
  &:visited {
    color: var(--au-link) !important;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: var(--au-link-hover) !important;
    background-color: $au-gray-lightest !important;
  }

  &:focus,
  &:focus-within {
    outline: $au-outline !important;
  }

  .au-w-dropdown--left & {
    flex-direction: row-reverse;
  }
}

.au-w-dropdown__icon {
  display: inline-flex !important;
  width: .9em !important;
  height: .9em !important;
  position: relative !important;
  vertical-align: baseline !important;
  stroke-width: 0 !important;
  stroke: currentColor !important;
  fill: currentColor !important;
  margin-right: $au-unit-tiny !important;
  transition: fill $au-transition, stroke $au-transition !important;
  margin-right: -.2rem !important;

  .au-w-button-link:hover &,
  .au-w-button-link:focus & {
    opacity: .9 !important;
  }
}

.au-w-dropdown__name {
  font-size: 15px !important;
  font-weight: normal !important;
  font-family: var(--font-family) !important;
  display: block !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;

  @include mq($until: xsmall) {
    max-width: $au-unit-large !important;
  }
}

.au-w-dropdown__button {
  border: 0 !important;
  padding: 0 !important;
  margin-left: $au-unit-tiny !important;
  display: inline-flex !important;
  align-items: center !important;

  &:after {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

  &,
  &:visited,
  &:hover,
  &:focus {
    color: inherit !important;
  }

  &:focus {
    outline: 0 !important;
  }
}

.au-w-dropdown__menu {
  font-family: var(--font-family) !important;
  font-weight: normal !important;
  position: absolute !important;
  z-index: $au-z-index-beta !important;
  background-color: $au-white !important;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  min-width: $au-unit-huge*3 !important;
  width: auto !important;
  top: $au-unit + $au-unit-tiny*1.5 !important;
  left: auto !important;
  right: 0 !important;
  box-shadow: 0 0 12px rgba($au-gray-dark,.15), 0 0 2px rgba($au-gray-dark,.1) !important;
  border-radius: $au-radius !important;
  display: none !important;
  text-align: left !important;

  &:before,
  &:after {
    bottom: 100% !important;
    left: calc(100% - #{$au-unit-small}) !important;
    border: solid transparent !important;
    content: " " !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute;
    pointer-events: none !important;
    border-width: .4rem !important;
    margin-left: -.3rem !important;
  }

  &:before {
    border-color: rgba($au-white, 0) !important;
    border-bottom-color: $au-gray-lighter !important;
  }

  &:after {
    border-color: rgba($au-white, 0) !important;
    border-bottom-color: $au-white !important;
  }

  &:focus {
    outline: 0 !important;
  }

  &.is-visible {
    display: flex !important;
  }
}

.au-w-dropdown__menu [role="menuitem"] {
  padding: $au-unit-tiny !important;
  height: auto !important;
  overflow: hidden !important;
  text-decoration: none !important;

  &:first-child {
    border-top-right-radius: $au-radius !important;
    border-top-left-radius: $au-radius !important;
  }

  &:last-child {
    border-bottom-right-radius: $au-radius !important;
    border-bottom-left-radius: $au-radius !important;
  }

  &.active {
    color: $au-gray !important;
    background-color: $au-gray-lighter !important;
    font-weight: $au-medium !important;
    outline-offset: -.2rem !important;
  }

  &:focus,
  &.active:focus {
    outline: $au-outline !important;
    outline-offset: -.2rem !important;
  }
}

.au-w-dropdown__menu [role="menuitem"] + [role="menuitem"] {
  border-top: 1px dotted $au-gray-light !important;
}
