/* ==================================
   #WIDGET FOOTER
   ================================== */

.au-w-footer {
  font-size: 14px !important;
  line-height: 1.5 !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  color: var(--au-neutral) !important;
  margin-top: $au-unit !important;
  padding-bottom: $au-unit-small !important;

  p {
    margin: 0 !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
  }

  a {
    font-size: inherit !important;
  }

  p:first-child {
    margin-right: $au-unit-small !important;
  }
}

.au-w-footer--border {
  padding-top: $au-unit-small !important;
  margin-top: $au-unit-small !important;
  border-top: 2px solid var(--au-neutral-lighter) !important;
}
