.au-w-filter {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  margin-bottom: 0 !important;
}

.au-w-filter__title {
  flex: none !important;
  width: 162px !important;
  flex-grow: 100 !important;
  font-style: italic !important;
  color: var(--au-neutral) !important;
  padding-right: $au-unit-tiny !important;
  margin-bottom: 0 !important;
}

.au-w-filter__list {
  display: flex !important;
  flex-wrap: wrap !important;
  margin: 0 !important;
}

.au-w-filter__list-item {
  display: block !important;
  margin-right: $au-unit-tiny !important;
  margin-top: $au-unit-tiny/2 !important;
  margin-bottom: $au-unit-tiny/2 !important;
}
