/* ==================================
   #WIDGET HEADER
   ================================== */

.au-w-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $au-unit-small;
  border-bottom: 2px solid $au-neutral-lighter;
}

.au-w-header__title {
  font-size: $au-h5;
  line-height: 1.5;
  font-weight: $au-bold;
  display: flex;
  align-items: center;
  margin: $au-unit-tiny $au-unit-small $au-unit-tiny 0;
}
