/* ==================================
   #WIDGET HEADER
   ================================== */


.au-w-header {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: $au-unit-small !important;
  border-bottom: 2px solid var(--au-neutral-lighter) !important;
}

.au-w-header__title {
  font-size: $au-h5 !important;
  line-height: 1.5 !important;
  font-weight: $au-bold !important;
  font-weight: var(--au-bold) !important;
  color: var(--au-neutral-darkest) !important;
  display: flex !important;
  align-items: center !important;
  margin: $au-unit-tiny $au-unit-small $au-unit-tiny 0 !important;

  .au-w-icon {
    width: 22px !important;
    height: 22px !important;
  }
}
