/* ==================================
   #WIDGET ICONS
   ================================== */

.au-w-icon {
  display: inline-flex !important;
  width: 1.2em !important;
  height: 1.2em !important;
  position: relative !important;
  vertical-align: baseline !important;
  stroke-width: 0 !important;
  stroke: currentColor !important;
  fill: currentColor !important;
  margin-right: $au-unit-tiny !important;
  transition: fill $au-transition, stroke $au-transition !important;

  .au-w-button-link:hover &,
  .au-w-button-link:focus & {
    opacity: .9 !important;
  }
}

.au-w-icon--large {
  width: 1.75em !important;
  height: 1.75em !important;
}

.au-w-icon--active {
  fill: var(--au-check) !important;
  stroke: var(--au-check) !important;
}

.au-w-icon--primary {
  fill: var(--au-check) !important;
  stroke: var(--au-check) !important;
}

.au-w-icon--faded {
  fill: var(--au-neutral) !important;
  stroke: var(--au-neutral) !important;
}

.au-w-icon--alert {
  fill: var(--au-check) !important;
  stroke: var(--au-check) !important;
}

.au-w-icon--error {
  fill: var(--au-error) !important;
  stroke: var(--au-error) !important;
}

.au-w-icon--full {
  display: block !important;
  bottom: 0 !important;
  width: 2.6em !important;
  height: 2.6em !important;
  padding: $au-unit-tiny/2 !important;
  fill: var(--au-neutral-darker) !important;
  border-radius: $au-radius !important;
  // background-color: var(--au-neutral-lightest) !important;
  border: 1px solid var(--au-neutral-lighter) !important;
  margin: 0 !important;
}
