.au-w-info {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  position: relative;
  width: 100%;
  padding: $au-unit-tiny;
  margin-top: $au-unit-tiny/2;
  margin-bottom: $au-unit-tiny/2;
  font-size: $au-base;
  line-height: 1.3;
  font-weight: $au-light;
  color: $au-neutral-darker;
  border: 1px solid $au-neutral-lighter;
  background-color: $au-neutral-lightest;
  border-radius: $au-radius;
}

.au-w-info--icon {
  margin: $au-unit-tiny 0;
  padding: $au-unit-tiny $au-unit-tiny $au-unit-tiny $au-unit + $au-unit-small;

  .au-w-icon {
    position: absolute;
    left: $au-unit-tiny;
    width: 20px;
    height: 20px;
    fill: $au-neutral-darker;
  }
}

.au-w-info-text {
  font-size: 15px;
  line-height: 1.3;
  font-style: italic;
  color: $au-neutral;
  margin: $au-unit-tiny 0;

  &:last-child {
    margin-bottom: 0;
  }
}
