.au-w-info {
  display: flex !important;
  align-items: center !important;
  flex-wrap: no-wrap !important;
  position: relative !important;
  width: 100% !important;
  padding: $au-unit-tiny !important;
  margin-top: $au-unit-tiny/2 !important;
  margin-bottom: $au-unit-tiny/2 !important;
  font-size: $au-base !important;
  line-height: 1.3 !important;
  font-weight: $au-light !important;
  color: $au-neutral-darker !important;
  border: 1px solid $au-neutral-lighter !important;
  background-color: $au-neutral-lightest !important;
  border-radius: $au-radius !important;
}

.au-w-info--icon {
  margin: $au-unit-tiny 0 !important;
  padding: $au-unit-tiny $au-unit-tiny $au-unit-tiny $au-unit + $au-unit-small !important;

  .au-w-icon {
    position: absolute !important;
    left: $au-unit-tiny !important;
    width: 20px !important;
    height: 20px !important;
    fill: $au-neutral-darker !important;
  }
}

.au-w-info-text {
  font-size: 15px !important;
  line-height: 1.3 !important;
  font-style: italic !important;
  color: $au-neutral !important;
  margin: $au-unit-tiny 0 !important;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.au-w-info-text--inline {
  margin-top: $au-unit-tiny/4 !important;

  &,
  &:last-child {
    margin-bottom: $au-unit-tiny !important;
  }

  .au-w-criterium-list--detail .au-w-criterium-list--detail & {
    margin-left: 21px !important;
  }
}

.au-w-info-text--top {
  margin-top: $au-unit-tiny/4 !important;
  margin-bottom: $au-unit-tiny !important;
  padding-bottom: $au-unit-tiny !important;
  border-bottom: 1px dotted $au-neutral-light !important;

  .au-w-criterium-list--detail .au-w-criterium-list--detail & {
    margin-left: 8px !important;
  }
}
