/* ==================================
   #WIDGET LINKS
   ================================== */

.au-w-link {
  transition: color $au-transition, text-decoration $au-transition !important;
  font-weight: $au-regular !important;
  font-weight: var(--au-regular) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;

  &,
  &:visited {
    color: $au-primary !important;
    color: var(--au-primary) !important;
    text-decoration-color: $au-primary-light !important;
    text-decoration-color: var(--au-primary-light) !important;
  }

  &:hover,
  &:focus {
    color: $au-primary-light !important;
    color: var(--au-primary-light) !important;
    text-decoration: none !important;
  }

  &:focus {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: $au-outline-color !important;
    outline-color: var(--au-outline) !important;
    outline-offset: $au-unit-tiny/2 !important;
  }

  .is-active > & {
    color: $au-primary-light !important;
    color: var(--au-primary-light) !important;
    text-decoration: none !important;
  }
}

.au-w-link--neutral {
  &,
  &:visited {
    color: $au-neutral-darker !important;
    text-decoration-color: $au-neutral !important;
  }

  &:hover,
  &:focus {
    color: $au-neutral-darkest !important;
    text-decoration: none !important;
  }

  &:focus {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: $au-outline-color !important;
    outline-color: var(--au-outline) !important;
    outline-offset: $au-unit-tiny/2 !important;
  }

  .is-active > & {
    color: $au-primary-light !important;
    text-decoration: none !important;
  }
}

.au-w-link--title {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.au-w-link--button {
  appearance: none !important;
  border: 0 !important;
  padding: 0 !important;
  font-size: inherit !important;
  font-family: inherit !important;
}
