/* ==================================
   #WIDGET LIGHTBOX
   ================================== */

// Temporary holder
.au-w-lightbox-holder {
  position: relative;
}

.au-w-lightbox {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: -$au-unit-tiny/2;
  padding: 0;
}

.au-w-lightbox__item {
  flex-basis: 150px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: $au-unit-tiny/2;
}

.au-w-lightbox__item--border {
  border-radius: $au-radius;
  border: 1px solid $au-neutral-lighter;
}

.au-w-lightbox__image {
  display: block;
  overflow: hidden;
  border-radius: $au-radius;
  padding-bottom: 65%;
  position: relative;
  width: 100%;
  margin: 0;

  img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
  }
}

.au-w-lightbox__button {
  font-size: $au-base;
  line-height: 1.5;
  font-family: $au-font;
  font-weight: $au-regular;
  padding: 0;
  border: 0;
  appearance: none;
  -webkit-appearance: none; // doesn't work without prefix on Safari iOS11
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: underline;
  justify-content: center;
  text-decoration-color: $au-primary;
  color: $au-primary;
  background-color: transparent;
  transition: color $au-transition;
  cursor: pointer;
  padding: $au-unit-tiny;
  margin-top: $au-unit-tiny;
  margin-left: auto;
  margin-right: auto;

  // Temporary hack for image lightbox
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    color: $au-primary-light;
    background-color: transparent;
    text-decoration: none;
  }

  &:focus {
    outline: $au-outline;
  }

  &:active {
    background-color: transparent;
  }

  &:visited {
    background-color: transparent;
  }

  // .au-w-theme-kina & {
  //   color: $au-neutral-darker;
  //   font-weight: 400;
  //   text-decoration-color: $au-neutral;
  //   font-family: "Lato", sans-serif;

  //   &:hover,
  //   &:focus {
  //     color: $au-neutral-darkest;
  //     background-color: transparent;
  //   }

  //   &:focus {
  //     outline: $au-outline;
  //   }
  // }

  // .au-w-theme-stam & {
  //   color: #e63228;
  //   font-weight: 400;
  //   text-decoration-color: #e63228;
  //   font-family: Georgia, 'Times New Roman', Times, serif;

  //   &:hover,
  //   &:focus {
  //     color: #333;
  //     background-color: transparent;
  //     text-decoration: none
  //   }

  //   &:focus {
  //     outline: 2px solid #e63228;
  //   }
  // }
}
