.au-w-label {
  display: inline-block !important;
  color: $au-neutral-darker !important;
  background-color: $au-neutral-lighter !important;
  padding: 0 $au-unit-tiny/2 !important;
  border-radius: $au-radius !important;
  margin-right: $au-unit-tiny !important;
}
