/* ==================================
   #WIDGET LINKS
   ================================== */

.au-w-link {
  transition: color $au-transition, text-decoration $au-transition;
  font-weight: $au-regular;
  font-weight: var(--au-regular);
  text-decoration: underline;
  text-decoration-thickness: 1px;

  &,
  &:visited {
    color: $au-primary;
    color: var(--au-primary);
    text-decoration-color: $au-primary-light;
    text-decoration-color: var(--au-primary-light);
  }

  &:hover,
  &:focus {
    color: $au-primary-light;
    color: var(--au-primary-light);
    text-decoration: none;
  }

  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: $au-outline-color;
    outline-color: var(--au-outline);
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: $au-primary-light;
    color: var(--au-primary-light);
    text-decoration: none;
  }
}

.au-w-link--neutral {
  &,
  &:visited {
    color: $au-neutral-darker;
    text-decoration-color: $au-neutral;
  }

  &:hover,
  &:focus {
    color: $au-neutral-darkest;
    text-decoration: none;
  }

  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: $au-outline-color;
    outline-color: var(--au-outline);
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: $au-primary-light;
    text-decoration: none;
  }
}

.au-w-link--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.au-w-link--button {
  appearance: none;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
