/* ==================================
   #WIDGET LIGHTBOX
   ================================== */

// Temporary holder
.au-w-lightbox-holder {
  position: relative !important;
}

.au-w-lightbox {
  display: flex !important;
  flex-wrap: wrap !important;
  position: relative !important;
  margin: -$au-unit-tiny/2 !important;
  padding: 0 !important;
}

.au-w-lightbox__item {
  flex-basis: 150px !important;
  display: flex !important;
  flex-grow: 1 !important;
  align-items: center !important;
  justify-content: center !important;
  margin: $au-unit-tiny/2 !important;
}

.au-w-lightbox__item--border {
  border-radius: $au-radius !important;
  border: 1px solid $au-neutral-lighter !important;
}

.au-w-lightbox__image {
  display: block !important;
  overflow: hidden !important;
  border-radius: $au-radius !important;
  padding-bottom: 65% !important;
  position: relative !important;
  width: 100% !important;
  margin: 0 !important;

  img {
    display: block !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    transform: translate(-50%,-50%) !important;
  }
}

.au-w-lightbox__button {
  font-size: $au-base !important;
  line-height: 1.5 !important;
  font-family: $au-font !important;
  font-family: var(--au-font) !important;
  font-weight: $au-regular !important;
  font-weight: var(--au-regular) !important;
  padding: 0 !important;
  border: 0 !important;
  appearance: none !important;
  -webkit-appearance: none !important; // doesn't work without prefix on Safari iOS11
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  text-decoration: underline !important;
  justify-content: center !important;
  color: $au-primary !important;
  color: var(--au-link) !important;
  text-decoration-color: $au-primary !important;
  text-decoration-color: var(--au-link);
  background-color: transparent !important;
  transition: color $au-transition !important;
  cursor: pointer !important;
  padding: $au-unit-tiny !important;
  margin-top: $au-unit-tiny !important;
  margin-left: auto !important;
  margin-right: auto !important;

  &:hover,
  &:focus {
    color: $au-primary-light !important;
    color: var(--au-link-light) !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }

  &:focus {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: $au-outline-color !important;
    outline-color: var(--au-outline) !important;
  }

  &:active {
    background-color: transparent !important;
  }

  &:visited {
    background-color: transparent !important;
  }
}
