/* ==================================
   #WIDGET LINKS
   ================================== */

.au-w-link {
  transition: color $au-transition, text-decoration $au-transition;
  font-weight: $au-regular;
  text-decoration: underline;
  text-decoration-thickness: 1px;

  &,
  &:visited {
    color: $au-primary;
    text-decoration-color: $au-primary-light;
  }

  &:hover,
  &:focus {
    color: $au-primary-light;
    text-decoration: none;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: $au-primary-light;
    text-decoration: none;
  }

  // .au-w-theme-kina & {
  //   color: $au-neutral-darker;
  // }

  // .au-w-theme-kina &:hover,
  // .au-w-theme-kina &:focus {
  //   color: $au-neutral-darkest;
  // }

  // .au-w-theme-stam & {
  //   font-family: Georgia;
  //   color: #e63228;
  //   text-decoration-color: #e63228;
  // }

  // .au-w-theme-stam &:hover,
  // .au-w-theme-stam &:focus {
  //   color: #333;
  //   text-decoration: none;
  // }

  // .au-w-theme-stam &:focus {
  //   outline: 2px dashed #e63228;
  // }
}

.au-w-link--neutral {
  &,
  &:visited {
    color: $au-neutral-darker;
    text-decoration-color: $au-neutral;
  }

  &:hover,
  &:focus {
    color: $au-neutral-darkest;
    text-decoration: none;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: $au-unit-tiny/2;
  }

  .is-active > & {
    color: $au-primary-light;
    text-decoration: none;
  }

  // .au-w-theme-stam &,
  // .au-w-theme-stam &:hover {
  //   font-family: Georgia;
  //   color: #e63228;
  //   text-decoration-color: #e63228;
  // }

  // .au-w-theme-stam &:hover,
  // .au-w-theme-stam &:focus {
  //   color: #333;
  //   text-decoration: none;
  // }

  // .au-w-theme-stam &:focus {
  //   outline: 2px dashed #e63228;
  // }
}

.au-w-link--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.au-w-link--button {
  appearance: none;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
