/* ==================================
   #WIDGET MODAL
   ================================== */

/**
  * Trigger styling
  */
// [data-modal-open][hidden] {
//   display: none;
// }

/**
  * When a modal dialog is open, don't allow scrolling of content
  * beneath (on desktop). Also useful in negating instances of
  * double scroll bars.
  * (browser window + dialog if long enough content)
  */
html.au-w-modal-open {
  overflow: hidden !important;
}

// Add a modal background
.au-w-modal-background {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba($au-neutral-darkest,.4) !important;
  z-index: 9999 !important;
  display: none !important;

  &.is-visible {
    display: block !important;
  }
}

/**
  * Modal Dialog base styling
  */
.au-w-modal {
  -webkit-overflow-scrolling: touch !important;
  background: var(--au-white) !important;
  margin: auto !important;
  height: auto !important;
  max-height: calc(100% - #{$au-unit}) !important;
  width: calc(100% - #{$au-unit}) !important;
  max-width: 760px !important;
  opacity: 1 !important;
  overflow: auto !important;
  position: fixed !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  right: $au-unit-small !important;
  top: $au-unit-small !important;
  left: $au-unit-small !important;
  bottom: auto !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  visibility: visible !important;
  border-radius: $au-radius !important;
  z-index: 99999 !important;
  box-shadow: 0 1px 3px rgba($au-neutral-darkest, .1), 0 4px 20px rgba($au-neutral-darkest, .035), 0 1px 1px rgba($au-neutral-darkest, .025) !important;
  transition: $au-transition !important;
  display: none !important;

  &:focus {
    outline: 0 !important;
  }

  &.is-visible {
    display: flex !important;
  }

  // Reset box-sizing
  &,
  *,
  *:before,
  *:after {
    font-family: $au-font !important;
    font-family: var(--au-font) !important;
    box-sizing: border-box !important;
  }
}

.au-w-modal--lightbox {
  bottom: auto !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.au-w-modal__body {
  width: 100% !important;
  flex-grow: 1 !important;
  position: relative !important;
  height: calc(100% - #{$au-unit-large + $au-unit-small}) !important;
  background-color: var(--au-white) !important;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;

  &:focus {
    outline: 0 !important;
  }
}

.au-w-modal__cta {
  width: 100% !important;
  color: var(--au-neutral-dark) !important;
  background-color: var(--au-neutral-lightest) !important;
  padding: $au-unit - $au-unit-tiny !important;
  text-align: center !important;
  border-radius: $au-radius !important;
  border-top: 1px solid var(--au-neutral-lighter) !important;
}

.au-w-modal__close {
  font-size: $au-base !important;
  line-height: 1.5 !important;
  font-family: $au-font !important;
  font-family: var(--au-font) !important;
  font-weight: $au-regular !important;
  font-weight: var(--au-regular) !important;
  text-transform: initial !important;
  padding: 0 !important;
  border: 0 !important;
  appearance: none !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 999 !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
  text-decoration: none !important;
  color: $au-neutral-lighter !important;
  background-color: transparent !important;
  transition: color $au-transition !important;
  cursor: pointer !important;
  padding: $au-unit-tiny $au-unit-tiny $au-unit-tiny $au-unit-small !important;
  white-space: nowrap !important;
  background-color: $au-neutral-darkest !important;
  border-bottom-left-radius: $au-radius !important;
  margin: 0 !important;

  &:hover,
  &:focus {
    color: $au-white !important;
    background-color: $au-neutral-darkest !important;
  }

  &:focus {
    outline-width: 2px !important;
    outline-style: solid !important;
    outline-color: $au-outline-color !important;
    outline-color: var(--au-outline) !important;
    outline-offset: -2px !important;
  }

  &:active,
  &:visited {
    background-color: $au-neutral-darkest !important;
  }



  .au-w-icon {
    margin-left: $au-unit-tiny !important;
    width: 15px !important;
    height: 15px !important;
  }
}

.au-w-modal__content {
  padding: $au-unit-small !important;

  @include mq(medium) {
    padding: $au-unit !important;
  }
}
