/* ==================================
   #WIDGET RATING
   ================================== */

.au-w-rating {
  font-size: $au-small;
  line-height: 1.3;
  color: $au-neutral;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: $au-unit-tiny 0;

  .au-w-icon {
    width: 22px;
    height: 22px;
  }
}

.au-w-rating__group {
  display: flex;
  align-items: center;

  .au-w-icon + .au-w-icon {
    margin-left: -8px;
  }

  .au-w-icon--faded {
    fill: $au-neutral-light;
  }
}

.au-w-rating__text {
  font-size: $au-small;
  line-height: 1.3;
  font-family: $au-font;
  margin: $au-unit-tiny 0;
}
