/* ==================================
   #WIDGET RATING
   ================================== */

.au-w-rating {
  font-size: $au-small !important;
  line-height: 1.3 !important;
  color: var(--au-neutral) !important;
  position: relative !important;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  margin: $au-unit-tiny 0 !important;

  .au-w-icon {
    width: 22px !important;
    height: 22px !important;
  }
}

.au-w-rating__group {
  display: flex !important;
  align-items: center !important;

  .au-w-icon + .au-w-icon {
    margin-left: -8px !important;
  }

  .au-w-icon--faded {
    fill: var(--au-neutral-light) !important;
  }
}

.au-w-rating__text {
  font-size: $au-small !important;
  line-height: 1.3 !important;
  margin: $au-unit-tiny 0 !important;
  color: var(--au-neutral) !important;
}
