/* ==================================
   #WIDGET SECTION
   ================================== */

.au-w-section {
  & + & {
    padding-top: $au-unit-small;
    margin-top: $au-unit-small;
    border-top: 1px dotted $au-neutral-light;
  }
}

.au-w-section--column {
  display: flex;
  flex-wrap: wrap;

  > *:first-child {
    flex-basis: 160px;
    flex-grow: 1;
  }

  > *:last-child {
    position: relative;
    flex-basis: 400px;
    flex-grow: 100;
  }
}

.au-w-section__title {
  font-size: $au-small;
  line-height: 1.3;
  font-weight: $au-medium;
  margin: 0 0 $au-unit-small 0;
  color: $au-neutral-darker;
}
