/* ==================================
   #WIDGET SECTION
   ================================== */

.au-w-section-list {
  list-style: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
}

.au-w-section-list__item {
  display: block !important;
  padding: 0 !important;
  margin: 0 !important;

  & + & {
    margin-top: $au-unit-tiny !important;
  }
}
