/* ==================================
   #CRITERIA
   ================================== */

.au-w-criterium-section-list {
  margin: 0;
}

.au-w-criterium-section-list__item {
  & + & {
    margin-top: $au-unit;
    padding-top: $au-unit;
  }

  .au-w-criterium-list__item + & {
    margin-top: $au-unit-small;
    padding-top: $au-unit-small;
    border-top: 1px dotted $au-neutral-light;
  }
}

.au-w-criterium-title {
  @include au-font-size($au-h6);
  color: $au-neutral-darker;
  font-weight: $au-bold;
  display: flex;
  align-items: center;
  border-bottom: 1px dotted $au-neutral-light;
  margin-bottom: $au-unit-small;
  padding-bottom: $au-unit-small;

  @include mq(small) {
    @include au-font-size($au-h5);
  }

  .au-w-theme-minimal & .au-w-icon--active {
    display: none !important;
  }
}

.au-w-criterium-list {
  margin: 0;
}

.au-w-criterium-list__item {
  & + & {
    margin-top: $au-unit-small;
    padding-top: $au-unit-small;
    border-top: 1px dotted $au-neutral-light;
  }

  .au-w-criterium-section-list__item + & {
    margin-top: $au-unit-small;
    padding-top: $au-unit-small;
    border-top: 1px dotted $au-neutral-light;
  }
}

.au-w-criterium-list__title {
  @include au-font-size($au-base);
  color: $au-neutral-darker;
  font-weight: $au-medium;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .au-w-theme-kina & {
    font-weight: 600;
  }
}

.au-w-criterium-list__subtitle {
  @include au-font-size($au-base);
  color: $au-neutral-darker;
  font-weight: $au-light;
  display: flex;
  align-items: center;

  .au-w-theme-kina & {
    font-weight: 500;
  }
}

.au-w-criterium-list__content {
  color: $au-neutral-darker;
  margin-left: 2rem;

  .au-w-theme-minimal & {
    margin-left: $au-unit - $au-unit-tiny/2;
  }

  > * {
    margin-top: $au-unit-tiny;
  }

  > * + * {
    margin-top: $au-unit-tiny;
  }

  ul {
    list-style: disc;
    margin-left: $au-unit-small + $au-unit-tiny;
  }

  // Reset other types of lists
  ul.au-w-criterium-list {
    list-style: none;
    margin-left: 0;
    margin-top: $au-unit-small;
  }

  ul.au-w-list-image {
    list-style: none;
    margin-left: 0;
    margin-top: $au-unit-tiny;
  }

  a:not(.au-c-button) {
    transition: color $au-transition, text-decoration $au-transition;
    font-weight: $au-regular;
    text-decoration-thickness: 1px;

    &,
    &:visited {
      color: $au-primary;
      text-decoration-color: $au-primary-light;
    }

    &:hover,
    &:focus {
      color: $au-primary-light;
      text-decoration-color: $au-primary-lighter;
    }

    &:focus {
      outline: $au-outline;
      outline-offset: $au-unit-tiny/2;
    }

    .is-active > & {
      color: $au-primary-lighter;
      text-decoration: none;
    }
  }

  .au-w-theme-kina & {
    a:not(.au-c-button) {
      transition: color $au-transition, text-decoration $au-transition;
      font-weight: $au-regular;
      text-decoration-thickness: 1px;

      &,
      &:visited {
        color: $au-neutral-darker;
        text-decoration-color: $au-neutral-light;
      }

      &:hover,
      &:focus {
        color: $au-neutral-dark;
        text-decoration-color: $au-neutral-light;
      }

      &:focus {
        outline: $au-outline;
        outline-offset: $au-unit-tiny/2;
      }

      .is-active > & {
        color: $au-neutral-lighter;
        text-decoration: none;
      }
    }
  }

  .au-w-theme-stam & {
    a:not(.au-c-button) {
      transition: color $au-transition, text-decoration $au-transition;
      font-weight: $au-regular;
      text-decoration-thickness: 1px;

      &,
      &:visited {
        color: #e63228;
        text-decoration-color: #e63228;
      }

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      &:focus {
        outline: 2px dashed #e63228;
        outline-offset: $au-unit-tiny/2;
      }

      .is-active > & {
        color: $au-neutral-lighter;
        text-decoration: none;
      }
    }
  }
}

.au-w-criterium-list__content--small {
  @include au-font-size(1.4rem);
  margin-top: $au-unit-tiny;
}

.au-w-criterium-list__label {
  @include au-font-size(1.3rem,1);
  position: relative;
  font-weight: $au-bold;
  text-transform: uppercase;
  margin-right: $au-unit-tiny;
  padding-right: $au-unit-tiny;
  border-right: 1px solid $au-neutral-light;

  .au-w-theme-minimal & {
    color: $au-white;
    background-color: $au-neutral-darker;
    border-radius: $au-radius;
    background-repeat: 0;
    padding: $au-unit-tiny/2  $au-unit-tiny/1.5  $au-unit-tiny/2;
    border: 0;
    font-weight: $au-medium;
  }
}

.au-w-criterium-subtitle {
  @include au-font-size(1.4rem);
  display: flex;
  align-items: center;
  font-weight: $au-medium;
  margin-top: $au-unit-small;
  padding-top: $au-unit-small;
  border-top: 1px dotted $au-neutral-light;
  color: $au-neutral-darker;
}
