/* ==================================
   #WIDGET COLLAPSABLE SECTION
   ================================== */

.w-collapsable-section-title {
  @include au-font-size($au-small,1.3);
  margin: 0;
}

.w-collapsable-section-title-group {
  display: inline-flex;
  align-items: center;
}

.w-collapsable-section-button {
  all: inherit;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $au-unit-tiny $au-unit-tiny;
  background-color: $au-neutral-lightest;
  border: 1px solid $au-neutral-lightest;
  border-radius: $au-radius;
  color: $au-neutral-darker;
  text-decoration: underline;
  text-decoration-color: $au-neutral;

  &:hover,
  &:focus {
    color: $au-neutral-darkest;
    text-decoration: none;
  }

  &:focus {
    outline: $au-outline;
    outline-offset: -.2rem;
  }

  &[aria-expanded="true"] {
    color: $au-neutral-darkest;
    border: 1px solid $au-neutral-lighter;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none;
  }
}

.w-collapsable-section-icon {
  height: 1.3rem;
  margin-left: $au-unit-small;
}

.w-collapsable-section-button[aria-expanded="true"] .w-collapsable-section-icon .w-vert {
  display: none;
}

.w-collapsable-section-button[aria-expanded] .w-collapsable-section-icon rect {
  fill: $au-neutral;
}

.w-collapsable-section-content {
  border: 1px solid $au-neutral-lighter;
  border-bottom-left-radius: $au-radius;
  border-bottom-right-radius: $au-radius;
  padding: .9rem;

  &:focus {
    outline: none;
  }
}
