/* ==================================
   #WIDGET CARD
   ================================== */

.vl-w-card {
  position: relative;
  padding: $vl-unit-small;
  border-radius: $vl-radius;
  transition: outline $vl-transition;
  height: 100%;
  background-color: $vl-neutral-lightest;
  overflow: hidden;

  > * + * {
    margin-top: $vl-unit-small;
  }

  .vl-w-theme-kina & > * + * {
    margin-top: $vl-unit-tiny;
  }
}

.vl-w-card--link {
  background-color: $vl-white;
  border: 1px solid $vl-neutral-lighter;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: $vl-neutral-light;
  }

  &:focus,
  &:focus-within {
    outline: $vl-outline;
  }
}

  .vl-w-card__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color $vl-transition, text-decoration $vl-transition;
    font-weight: $vl-regular;
    text-decoration-color: $vl-action-underline;
    cursor: pointer;

    &,
    &:visited {
      color: $vl-action-color;
    }

    &:hover,
    &:focus {
      color: $vl-action-hover-color;
      text-decoration-color: $vl-action-underline-hover;
    }

    &:focus {
      outline: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
