/* ==================================
   #CRITERIA
   ================================== */

.au-w-criterium-list {
  margin: 0;
}

.au-w-criterium-list__item {
  & + & {
    margin-top: $au-unit-tiny/2;
    padding-top: $au-unit-tiny/2;
  }
}

.au-w-criterium-list__title {
  @include au-font-size($au-base);
  color: $au-neutral-darker;
  font-weight: $au-light;
  display: flex;

  .au-w-icon {
    width: 1.5rem;
    height: 1.5rem;
    bottom: -.25ex;
  }
}

.au-w-criterium-list__content {
  font-weight: $au-light;
  color: $au-neutral-darker;
  margin-left: 2.1rem;

  > * + * {
    margin-top: $au-unit-tiny;
  }

  strong {
    font-weight: $au-medium;
  }

  a:not(.au-c-button) {
    transition: color $au-transition, text-decoration $au-transition;
    font-weight: $au-regular;
    text-decoration-thickness: 1px;

    &,
    &:visited {
      color: $au-primary;
      text-decoration-color: $au-primary-light;
    }

    &:hover,
    &:focus {
      color: $au-primary-light;
      text-decoration-color: $au-primary-light;
    }

    &:focus {
      outline: $au-outline;
      outline-offset: $au-unit-tiny/2;
    }

    .is-active > & {
      color: $au-primary-lighter;
      text-decoration: none;
    }
  }

  .au-w-theme-kina & {
    a:not(.au-c-button) {
      transition: color $au-transition, text-decoration $au-transition;
      font-weight: $au-regular;
      text-decoration-thickness: 1px;

      &,
      &:visited {
        color: $au-neutral-darkest;
        text-decoration-color: $au-neutral;
      }

      &:hover,
      &:focus {
        color: $au-neutral-darker;
        text-decoration-color: $au-neutral;
      }

      &:focus {
        outline: $au-outline;
        outline-offset: $au-unit-tiny/2;
      }

      .is-active > & {
        color: $au-neutral-lighter;
        text-decoration: none;
      }
    }
  }

  .au-w-theme-stam & {
    a:not(.au-c-button) {
      transition: color $au-transition, text-decoration $au-transition;
      font-weight: $au-regular;
      text-decoration-thickness: 1px;

      &,
      &:visited {
        color: #e63228;
        text-decoration-color: #e63228;
      }

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      &:focus {
        outline: 2px dashed #e63228;
        outline-offset: $au-unit-tiny/2;
      }

      .is-active > & {
        color: $au-neutral-lighter;
        text-decoration: none;
      }
    }
  }
}

.au-c-criteria-list-item {
  position: relative;
  margin-left: 2rem;
  list-style-type: disc;

  .au-w-criterium-list__content ul ul & {
    list-style-type: circle;
  }

  .au-w-criterium-list__content ul ul ul & {
    list-style-type: none !important;
    margin-left: 0;

    &:before {
      content: "-";
      display: inline-block;
      width: 1.5rem;
      text-align: center;
      margin-right: .1rem;
    }
  }
}

.au-c-criteria-list-item--error {
  &,
  .au-w-criterium-list__content ul ul &,
  .au-w-criterium-list__content ul ul ul & {
    list-style: none !important;
    list-style-type: none !important;
  }

  .au-w-criterium-list__content ul ul ul & {
    margin-left: 2rem;
  }

  .au-w-criterium-list__content ul ul ul &:before {
    display: none;
  }

  .au-w-icon {
    width: 1.5rem;
    height: 1.5rem;
    bottom: -.25ex;
    margin-left: -1.25em;
    margin-right: 0;
  }
}
