/* ==================================
   #WIDGET CARD
   ================================== */

.au-w-card {
  position: relative;
  padding: $au-unit-small;
  border-radius: $au-radius;
  transition: outline $au-transition;
  height: 100%;
  background-color: $au-neutral-lightest;
  overflow: hidden;

  > * + * {
    margin-top: $au-unit-small;
  }

  .au-w-theme-kina & > * + * {
    margin-top: $au-unit-tiny;
  }
}

.au-w-card--link {
  background-color: $au-white;
  border: 1px solid $au-neutral-lighter;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: $au-neutral-light;
  }

  &:focus,
  &:focus-within {
    outline: $au-outline;
  }
}

  .au-w-card__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color $au-transition, text-decoration $au-transition;
    font-weight: $au-regular;
    text-decoration-color: $au-primary-lighter;
    cursor: pointer;

    &,
    &:visited {
      color: $au-primary;
    }

    &:hover,
    &:focus {
      color: $au-primary-light;
      text-decoration-color: $au-primary-lighter;
    }

    &:focus {
      outline: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
