/* ==================================
   #WIDGET FOOTER
   ================================== */

.au-w-footer {
  @include au-font-size(1.4rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $au-neutral;
  margin-top: $au-unit;
  padding-bottom: $au-unit-small;

  p:first-child {
    margin-right: $au-unit-small;
  }

  .au-w-theme-stam & {
    color: #333;
  }
}

.au-w-footer--border {
  padding-top: $au-unit-small;
  margin-top: $au-unit-small;
  border-top: 2px solid $au-neutral-lighter;
}
