/* ==================================
   #WIDGET FOOTER
   ================================== */

.au-w-footer {
  @include au-font-size(1.4rem);
  color: $au-neutral;
  padding-top: $au-unit-small;
  padding-bottom: 0;
  margin-top: $au-unit-small;
  border-top: 1px solid $au-neutral-lighter;

  .au-w-theme-kina & {
    margin-top: $au-unit-tiny;
    padding-top: $au-unit-tiny;
  }

  .au-w-theme-minimal & {
    margin-top: $au-unit-small + $au-unit-tiny;
  }
}
