/* ==================================
   #WIDGET GRID
   Based on the flexbox holy albatros:
   https://codepen.io/heydon/pen/ebQyYV
   ================================== */

/* Variables
   ====================================================== */

$vl-grid-gutter: $vl-unit-tiny !default;
$vl-grid-modifier: calc(70rem - 100%) !default;


/* Component
  ====================================================== */

.vl-w-grid {
  display: flex;
  flex-wrap: wrap;
  margin: calc(#{$vl-grid-gutter} * -1);
}

  .vl-w-grid__item {
    min-width: calc(33% - (#{$vl-grid-gutter} * 2));
    max-width: 100%;
    flex-basis: calc(#{$vl-grid-modifier} * 999);
    margin: $vl-grid-gutter;
  }
