/* ==================================
   #WIDGET GRID
   Based on the flexbox holy albatros:
   https://codepen.io/heydon/pen/ebQyYV
   ================================== */

/* Variables
   ====================================================== */

$au-grid-gutter: $au-unit-tiny !default;
$au-grid-modifier: calc(70rem - 100%) !default;


/* Component
  ====================================================== */

.au-w-grid {
  display: flex;
  flex-wrap: wrap;
  // margin: calc(#{$au-grid-gutter} * -1);
}

  .au-w-grid__item {
    min-width: calc(33.333% - (#{$au-grid-gutter} * 2));
    max-width: 100%;
    flex-basis: calc(#{$au-grid-modifier} * 999);
    // margin: $au-grid-gutter;
  }
