/* ==================================
   #WIDGET HEADER
   ================================== */

.au-w-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $au-unit-small;
  border-bottom: 2px solid $au-neutral-lighter;
}

.au-w-header__title {
  @include au-font-size($au-h5);
  font-weight: $au-bold;
  display: flex;
  align-items: center;
  margin-right: $au-unit-small;

  .au-w-theme-kina & {
    @include au-font-size(1.6rem);
    font-family: "Lato", sans-serif;
  }

  .au-w-theme-stam & {
    font-family: nimbus-sans,"Helvetica","Arial",sans-serif;
    @include au-font-size(1.8rem);
    font-weight: 500;
    color: #e63228;
  }
}
