/* ==================================
   #WIDGET ICONS
   ================================== */

.vl-w-icon {
  display: block;
  width: .75em;
  height: .75em;
  position: relative;
  bottom: .6ex;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
