/* ==================================
   #WIDGET IMAGES
   ================================== */

.au-w-image {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  height: $au-unit-huge;
  background-color: $au-neutral-lighter;
  cursor: zoom-in;

  img {
    display: block;
    max-width: $au-unit-huge*1.5;
    top: 0;
    transition: opacity $au-transition;
  }

  &.is-expanded {
    height: auto;
    cursor: zoom-out;

    img {
      max-width: 100%;
    }
  }
}

.au-w-image--link {
  border: 1px solid $au-neutral-lighter;
  transition: border $au-transition;

  &:hover,
  &:focus {
    border-color: $au-neutral-light;

    img {
      opacity: .8;
    }
  }

  &:focus {
    outline: $au-outline;
  }
}

.au-w-image--large {
  height: $au-unit-large * 9;
  width: $au-unit-large * 16;
}
