/* ==================================
   #WIDGET ICONS
   ================================== */

.au-w-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  vertical-align: baseline;
  stroke-width: 0;
  bottom: -.1ex;
  stroke: currentColor;
  fill: currentColor;
  margin-right: $au-unit-tiny;

  .au-w-theme-kina & {
    bottom: 0;
  }
}
