/* ==================================
   #WIDGET LISTS
   ================================== */

.vl-w-list {
  @include vl-font-size($vl-h6);
}

.vl-w-list--checks {
  @include vl-font-size($vl-base,1.3);
}

.vl-w-list--checks-large {
  @include vl-font-size($vl-base,1.3);
}

.vl-w-list--details {
  @include vl-font-size($vl-base);
  margin-top: $vl-unit-tiny;
}

.vl-w-list--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -$vl-unit-tiny;
}

  .vl-w-list__item {
    color: $vl-neutral-dark;

    > * + * {
      margin-top: $vl-unit-tiny/2;
    }

    & + & {
      margin-top: $vl-unit-small;
      padding-top: $vl-unit-small;
      border-top: 1px dotted $vl-neutral-light;
    }

    .vl-w-list--details > & + & {
      margin-top: 0;
      border-top: 0;
    }

    .vl-w-list--images & {
      margin: $vl-unit-tiny;
    }

    .vl-w-list--images > & + & {
      padding-top: 0;
      border-top: 0;
    }

    .vl-w-list--checks > & + & {
      margin-top: $vl-unit-tiny;
      padding-top: $vl-unit-tiny;
    }

    .vl-w-list--checks > & {
      color: $vl-neutral;
      font-style: italic;
    }

    .vl-w-list--checks-large > & {
      color: $vl-neutral;
      font-style: italic;
    }

    .vl-w-list--checks-large > & + & {
      margin-top: $vl-unit-small;
      padding-top: $vl-unit-small;
    }

    &.is-checked {
      color: $vl-neutral-darker;
      font-style: normal;
    }
  }



