/* ==================================
   #WIDGET MODAL
   ================================== */

.vl-w-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba($vl-neutral-darkest,.2);
  z-index: 1;
}

  .vl-w-modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - #{$vl-unit});
    transform: translate(-50%,-50%);
    height: calc(100% - #{$vl-unit-large});

    @include mq(medium) {
      width: 760px;
    }
  }

  .vl-w-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $vl-unit-small $vl-unit;
    border-bottom: 1px solid $vl-neutral-lighter;
    background-color: $vl-neutral-lightest;
  }

  .vl-w-modal__body {
    position: relative;
    height: calc(100% - #{$vl-unit-large + $vl-unit-small});
    background-color: $vl-white;
    overflow: auto;
  }
