/* ==================================
   #WIDGET SECTION
   ================================== */

.au-w-section {
  & + & {
    // border-top: 1px dotted $au-neutral-lighter;
    // padding-top: $au-unit-tiny;
    margin-top: $au-unit-small;
  }
}

.au-w-section--column {
  display: flex;
  flex-wrap: wrap;

  > *:first-child {
    flex-basis: 16rem;
    flex-grow: 1;
  }

  > *:last-child {
    position: relative;
    flex-basis: 40rem;
    flex-grow: 100;

    &:before {
      content: '';
      position: absolute;
      left: -$au-unit-tiny;
      width: $au-unit-tiny;
      background-color: $au-white;
      height: 100%;
    }
  }

}

.au-w-section__title {
  @include au-font-size($au-small,1.3);
  font-weight: $au-medium;
  margin-bottom: $au-unit-tiny;
  padding-top: $au-unit-tiny;
  color: $au-neutral-darker;
  border-top: 1px dotted $au-neutral-lighter;
}
