/* ==================================
   #WIDGET TITLES
   ================================== */

.vl-w-title {
  @include vl-font-size($vl-h5);
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: $vl-bold;
  color: $vl-neutral-darker;
  margin-bottom: $vl-unit-small + $vl-unit-tiny;

  .vl-w-theme-kina & {
    @include vl-font-size(1.5rem);
    color: $vl-neutral-darkest;
    font-weight: 700;
    margin-bottom: $vl-unit-small;
  }
}

.vl-w-title--modal {
  .vl-w-theme-kina & {
    @include vl-font-size(2.5rem);
    font-weight: 900;
  }
}

.vl-w-title--section {
  @include vl-font-size($vl-h6);
  margin-bottom: 0;

  .vl-w-theme-kina & {
    @include vl-font-size(1.5rem);
    margin-bottom: 0;
  }
}

.vl-w-title--detail {
  @include vl-font-size(1.5rem,1.3);
  font-weight: $vl-regular;
  margin-bottom: 0;
  color: $vl-neutral;

  .is-checked & {
    color: $vl-neutral-darker;
  }

  .vl-w-theme-kina & {
    @include vl-font-size(1.5rem);
    color: $vl-neutral;
    font-weight: 400;
    margin-bottom: 0;
  }

  .vl-w-theme-kina .is-checked & {
    color: $vl-neutral-darker;
    font-weight: 700;
  }
}

.vl-w-small {
  @include vl-font-size($vl-base);
  color: $vl-neutral-dark;

  .vl-w-theme-kina & {
    @include vl-font-size(1.5rem);
  }
}

.vl-w-tiny {
  @include vl-font-size($vl-base);
  color: $vl-neutral;
}

.vl-w-label {
  font-weight: $vl-regular;
}

.vl-w-info {
  font-weight: $vl-light;
  color: $vl-neutral-darker;

  .vl-w-theme-kina & {
    @include vl-font-size(1.5rem,1.3);
  }
}

.vl-w-info-large {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: $vl-neutral-lightest;
  padding: $vl-unit-small;
  margin-bottom: $vl-unit;
  @include vl-font-size($vl-base,1.3);
  font-weight: $vl-light;
  color: $vl-neutral-darker;
  border: 1px solid $vl-neutral-lighter;

  .vl-w-theme-kina & {
    @include vl-font-size(1.5rem,1.3);
  }
}

.vl-w-cta {
  padding: $vl-unit $vl-unit $vl-unit-tiny;
  text-align: center;
  border-radius: $vl-radius;
  border-top: 1px solid $vl-neutral-lighter;
}
