<div id="ember-vo-appuniversum-wormhole"></div>

{{#if this.isIndex}}
<header class="au-o-region-large au-d-theme-neutral-lightest au-u-padding-bottom">
  <div class="au-o-layout au-o-layout--medium">
    <div class="au-d-editor">
      <h1 class="">Toegankelijkheid Widget</h1>
      <hr>
    </div>
  </div>
</header>

<main class="au-o-region au-d-theme-neutral-lightest">
  <div class="au-o-layout au-o-layout--medium au-d-editor">
    <h2 class="au-u-h5">Widget</h2>
    <ul>
      <li>
        <LinkTo @route="widget-desktop">Desktop</LinkTo>
      </li>
      <li>
        <LinkTo @route="widget-mobile">Mobiel</LinkTo>
      </li>
    </ul>

    <h2 class="au-u-h5">Demo</h2>
    <ul>
      <li>
        <LinkTo @route="widget-kina">Wereld van Kina demo</LinkTo>
      </li>
      {{!-- <li>
        <LinkTo @route="widget-stam">Stam demo</LinkTo>
      </li> --}}
    </ul>

  </div>
</main>
{{else}}
  {{outlet}}
{{/if}}
