<div class="container">
  <div class="container-flex--scroll">
    <div class="u-padding--round u-border--bottom">
      <h1 class="h1 u-spacer--none">Toegankelijkheid Widget</h1>
      <p>you are on this route {{currentRouteName}}</p>
    </div>

    <div class="u-padding--round">
      <div class="grid grid--collapse">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
