<div id="ember-vo-appuniversum-wormhole"></div>

<header class="au-o-region-large au-d-theme-neutral-lightest au-u-padding-bottom">
  <div class="au-o-layout">
    {{#unless this.isIndex}}
    <p><a href="/" class="au-d-link au-d-link--neutral">&leftarrow; Terug naar overzicht</a></p>
    {{/unless}}
    <div class="au-d-editor">
      <h1 class="">Toegankelijkheid Widget</h1>
      <hr>
    </div>
  </div>
</header>

<main class="au-o-region au-d-theme-neutral-lightest">
  {{#if this.isIndex}}
  <div class="au-o-layout au-d-editor">
    <h2 class="au-u-h5">Widget (standalone)</h2>
    <ul>
      <li>
        <LinkTo @route="widget-desktop">Desktop</LinkTo>
      </li>
      <li>
        <LinkTo @route="widget-mobile">Mobiel</LinkTo>
      </li>
    </ul>

    <h2 class="au-u-h5">Widget (standalone - alternative)</h2>
    <ul>
      <li>
        <LinkTo @route="widget-desktop-alt">Desktop</LinkTo>
      </li>
      <li>
        <LinkTo @route="widget-mobile-alt">Mobiel</LinkTo>
      </li>
    </ul>

    <h2 class="au-u-h5">Widget (Wereld van Kina demo)</h2>
    <ul>
      <li>
        <LinkTo @route="widget-kina">Wereld van Kina demo</LinkTo>
      </li>
    </ul>

    <h2 class="au-u-h5">Widget (Stam demo)</h2>
    <ul>
      <li>
        <LinkTo @route="widget-stam">Stam demo</LinkTo>
      </li>
    </ul>

  </div>
  {{else}}
  <div class="au-o-layout au-d-editor">
    {{outlet}}

  </div>
  {{/if}}
</main>
