<div id="ember-vo-appuniversum-wormhole"></div>

<header class="vl-o-region-large vl-d-theme-neutral-lightest">
  <div class="vl-o-layout">
    {{#unless this.isIndex}}
    <p><a href="/" class="vl-c-link vl-c-link--neutral">&leftarrow; Terug naar overzicht</a></p>
    {{/unless}}
    <div class="vl-d-editor">
      <h1 class="">Toegankelijkheid Widget</h1>
      <hr>
      <p>You are on this route: {{this.currentRouteName}}</p>
    </div>
  </div>
</header>

<main class="vl-o-region vl-d-theme-neutral-lightest">
  {{#if this.isIndex}}
  <div class="vl-o-layout vl-d-editor">
    <h2 class="vl-u-h5">Widget (data voorbeeld)</h2>
    <ul>
      <li>
        <LinkTo @route="widget-desktop">Widget (desktop)</LinkTo>
      </li>
      <li>
        <LinkTo @route="widget-mobile">Widget (mobile)</LinkTo>
      </li>
    </ul>

    <h2 class="vl-u-h5">Widget (nieuw data voorstel)</h2>
    <ul>
      <li>
        <LinkTo @route="widget-desktop-alt">Widget alternatief (desktop)</LinkTo>
      </li>
      <li>
        <LinkTo @route="widget-mobile-alt">Widget alternatief (mobile)</LinkTo>
      </li>
    </ul>

    <h2 class="vl-u-h5">Widget (Wereld van Kina demo)</h2>
    <ul>
      <li>
        <LinkTo @route="widget-kina">Widget (compact)</LinkTo>
      </li>
    </ul>

  </div>
  {{else}}
  <div class="vl-o-layout vl-d-editor">
    {{outlet}}

  </div>
  {{/if}}
</main>
