{{page-title (concat "Widget: " this.model.poi.label)}}

<main class="au-o-region au-d-theme-neutral-lightest au-d-widget">
  <div class="au-o-layout au-o-layout--medium au-d-editor">
    <h2 class="au-u-h5">{{this.model.poi.label}}</h2>
    <div>
      <Widget
        @tree={{this.model.tree}}
        @pointOfInterest={{this.model.poi}}
        @title="ToegankelijkheidsInfo" />
    </div>
  </div>
</main>
