<section class="vl-w-container">
  <h1 class="vl-w-title">
    Toegankelijkheid
  </h1>
  <ul class="vl-w-grid vl-u-margin-bottom-small">
    <li class="vl-w-grid__item">
      <article class="vl-w-card vl-w-card--link">
        <h2 class="vl-w-title vl-w-title--section">
          <LinkTo @route="overview.detail" class="vl-w-card__link">
            Bereikbaarheid
          </LinkTo>
        </h2>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Bereikbaar met openbaar vervoer
          </li>
          <li class="vl-w-list__item is-checked">
            2 rolstoelvriendelijke parkeerplaatsen
          </li>
        </ul>
      </article>
    </li>
    <li class="vl-w-grid__item">
      <article class="vl-w-card">
        <h2 class="vl-w-title vl-w-title--section">
          Inkom
        </h2>
        <p class="vl-w-small">
          Geen voorzieningen gevonden.
        </p>
      </article>
    </li>
    <li class="vl-w-grid__item">
      <article class="vl-w-card vl-w-card--link">
        <h2 class="vl-w-title vl-w-title--section">
          <a href="#!" class="vl-w-card__link">
            Circulatie
          </a>
        </h2>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Lift in het gebouw
          </li>
          <li class="vl-w-list__item is-checked">
            Ruim toegankelijk voor rolstoelgebruikers
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> Hulp-/geleidehonden overal toegelaten
          </li>
        </ul>
      </article>
    </li>
    <li class="vl-w-grid__item">
      <article class="vl-w-card vl-w-card--link">
        <h2 class="vl-w-title vl-w-title--section">
          <a href="#!" class="vl-w-card__link">
            Toilet
          </a>
        </h2>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Aangepaste circulatie
          </li>
          <li class="vl-w-list__item is-checked">
            Deurbreedte minimum 85cm
          </li>
          <li class="vl-w-list__item is-checked">
            Beweegruimte minimum 140cm
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> Beugels
          </li>
        </ul>
      </article>
    </li>
    <li class="vl-w-grid__item">
      <article class="vl-w-card vl-w-card--link">
        <h2 class="vl-w-title vl-w-title--section">
          <a href="#!" class="vl-w-card__link">
            Activiteiten
          </a>
        </h2>
        <ul class="vl-w-list vl-w-list--checks">
          <li class="vl-w-list__item is-checked">
            Prijsreductie
          </li>
          <li class="vl-w-list__item">
            <span class="vl-w-label">Niet voldaan:</span> Aangepaste rolstoelroute
          </li>
        </ul>
      </article>
    </li>
  </ul>
  <p class="vl-w-tiny">Informatie van Toevla. <a href="#!" class="vl-w-link vl-w-link--neutral">Meer info</a></p>
</section>

{{outlet}}
