<div class="col--3-12">
  <ul class="u-padding--right--small">
    <li>
      <h2 class="h5 u-spacer--tiny"><LinkTo @route="overview.detail" class="side-navigation__toggle">Bereikbaarheid</LinkTo></h2>
      <ul class="u-spacer">
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Bereikbaar met openbaar vervoer</p>
          </div>
        </li>
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>2 rolstoelvriendelijke parkeerplaatsen</p>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <h2 class="h5 u-spacer--tiny"><LinkTo @route="overview.detail" class="side-navigation__toggle">Inkom</LinkTo></h2>
      <ul class="u-spacer">
        <li class="grid">
          <div class="col--12-12">
            <p class="text-fade">Geen voorzieningen gevonden.</p>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <h2 class="h5 u-spacer--tiny"><LinkTo @route="overview.detail" class="side-navigation__toggle">Circulatie</LinkTo></h2>
      <ul class="u-spacer">
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Lift in het gebouw</p>
          </div>
        </li>
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Ruim toegankelijk voor rolstoelgebruikers</p>
          </div>
        </li>
        <li class="grid">
          <div class="col--1-12">
            <i aria-hidden="true" class="fa fa-minus"></i><span class="u-visually-hidden">Minpunt:</span>
          </div>
          <div class="col--10-12">
            Hulp-/geleidehonden niet overal toegelaten
          </div>
        </li>
      </ul>
    </li>
    <li>
      <h2 class="h5 u-spacer--tiny"><LinkTo @route="overview.detail" class="side-navigation__toggle">Toilet</LinkTo></h2>
      <ul class="u-spacer">
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Aangepaste circulatie</p>
          </div>
        </li>
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Deurbreedte minimum 85cm</p>
          </div>
        </li>
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Beweegruimte minimum 140cm</p>
          </div>
        </li>
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true" class="fa fa-minus"></i><span class="u-visually-hidden">Minpunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Geen beugels</p>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <h2 class="h5 u-spacer--tiny"><LinkTo @route="overview.detail" class="side-navigation__toggle">Activiteiten</LinkTo></h2>
      <ul class="u-spacer">
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true">&bigstar;</i><span class="u-visually-hidden">Pluspunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Prijsreductie</p>
          </div>
        </li>
        <li class="grid">
          <div class="col--1-12">
            <p class="small">
              <i aria-hidden="true" class="fa fa-minus"></i><span class="u-visually-hidden">Minpunt:</span>
            </p>
          </div>
          <div class="col--10-12">
            <p>Geen aangepaste rolstoelroute</p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="col--9-12 pull--1-12">
  {{outlet}}
</div>
