<main class="au-o-region au-d-theme-neutral-lightest au-d-widget">
  <div class="au-o-layout au-o-layout--medium au-d-editor">
    <div class="au-d-component text-long">
      <Widget @tree={{this.model.tree}} @experience={{this.model.experience}} @id="kinaHuis" @title="ToegankelijkheidsInfo"/>
    </div>
  </div>
</main>
