<main class="au-o-region au-d-theme-neutral-lightest au-d-widget">
  <div class="au-o-layout au-o-layout--medium au-d-editor">
    <h2>Kina - Het Huis</h2>
    <div class="au-d-component">
      <Widget @model={{this.model}} @id="kinaHuis" @title="ToegankelijkheidsInfo"/>
    </div>
  </div>
</main>
