<header class="au-o-region-large au-d-theme-neutral-lightest au-u-padding-bottom">
  <div class="au-o-layout au-o-layout--medium">
    <div class="au-d-editor">
      <h1 class="">Toegankelijkheid Widget</h1>
      <hr>
    </div>
  </div>
</header>

<main class="au-o-region au-d-theme-neutral-lightest au-d-widget">
  <div class="au-o-layout au-o-layout--medium au-d-editor">
    <h2>Development versie</h2>
    <div>
      <Widget @tree={{this.model.tree}} @experience={{this.model.experience}} @id="kinaHuis" @title="ToegankelijkheidsInfo" />
    </div>
  </div>
</main>
