<h2>Kina - Het Huis</h2>
<div class="au-d-component">
  <WidgetKinaHuis @id="kinaHuis" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" />
</div>

<h2>Kina - De Tuin</h2>
<div class="au-d-component">
  <WidgetKinaTuin @id="kinaTuin" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" />
</div>

<h2>Stam</h2>
<div class="au-d-component">
  <WidgetStam @id="stam" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" />
</div>
