<div class="au-d-theme-white">
  <img src="/assets/img/kina-header.jpg" alt="" class="au-d-component-header" aria-hidden="true">
  <img src="/assets/img/kina-section.jpg" alt="" class="au-d-component-header" aria-hidden="true">
  <div class="au-d-component au-d-component--full au-d-editor au-d-editor--kina au-d-widget">
    <h1 class="au-w-hidden-visually">De wereld van Kina: praktische info</h1>
    <div class="au-d-icon">
      <img src="/assets/img/hetHuis.png" alt="">
    </div>
    <h2>De wereld van Kina: het Huis</h2>
    <h3>Openingsuren</h3>
    <p>
      Vanaf 18 mei gaat het museum weer open.<br>
      De openingsuren zijn aangepast!
    </p>
    <p>
      De wereld van Kina: het Huis is open:
      maandag tot vrijdag, van 9 tot 12 uur en van 13.30 tot 16.30 uur
    </p>
    <p>
      Op zaterdag & voorlopig uitzonderlijk ook gesloten op zondag en feestdagen<br>
      Op 25 en 26 december en op 1 en 2 januari
    </p>
    <hr>
    <h3 class="au-u-margin-bottom-small">Tarieven</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Reductietarief*</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gentenaar</td>
          <td>€ 2</td>
          <td>€ 1,50</td>
        </tr>
        <tr>
          <td>Niet-Gentenaar</td>
          <td>€ 5</td>
          <td>€ 3,50</td>
        </tr>
        <tr>
          <td>Familieticket Gentenaar</td>
          <td>€ 5</td>
          <td></td>
        </tr>
        <tr>
          <td>Familieticket niet-Gentenaar</td>
          <td>€ 7,50</td>
          <td></td>
        </tr>
        <tr>
          <td>Gentse scholen</td>
          <td>Gratis</td>
          <td></td>
        </tr>
        <tr>
          <td>Niet-Gentse scholen</td>
          <td>€ 3/kind</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <p>Met je ticket van Huis/Tuin kan je ook gratis naar de andere locatie (binnen de 6 maand).</p>
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2 au-d-editor au-d-editor--kina">
        <h4>
          * Wie heeft recht op het reductietarief?
        </h4>
        <ul>
          <li>19 t/m 25 jaar - 65 jaar of ouder</li>
          <li>groepen vanaf 15 personen</li>
          <li>personen met een handicap</li>
          <li>houders van een lerarenkaart</li>
          <li>leden van Sodigent</li>
        </ul>
        <p>Alleen geldig op vertoon van een identiteitskaart of ander bewijs</p>
      </div>
      <div class="au-o-grid__item au-u-1-2 au-d-editor au-d-editor--kina">
        <h4>
          Gratis
        </h4>
        <ul>
          <li>Van 0 tot en met 18 jaar (tenzij je met de klas komt)</li>
          <li>Gentenaars op zondagnamiddag en tijdens de Gentse Feesten</li>
          <li>Leden van de vzw Vrienden van het Schoolmuseum Michel Thiery</li>
          <li>Leden van ICOM, ICOM Vlaanderen of de gidsenbond</li>
          <li>Journalisten op vertoon van hun perskaart</li>
          <li>Begeleiders van schoolkinderen, jeugdbewegingen, speelpleinwerking of opvanginitiatieven</li>
          <li>Begeleiders van personen met een beperking</li>
          <li>Personen in het bezit van een CITYCARD of een Museumpas</li>
        </ul>
      </div>
    </div>

    <hr>
    {{!-- <h3>Minder mobiele bezoekers</h3>
    <p>De dichtstbijzijnde parkeerplaatsen voor rolstoelgebruikers bevinden zich in de parkeergarage Sint-Pietersplein, of dichtbij de alternatieve ingang op het Kramersplein.</p>
    <p>De wereld van Kina: het Huis is ondergebracht in een historisch gebouw. De toegankelijkheid voor personen met beperkte mobiliteit is daardoor niet optimaal.</p>
    <p>De hoofdtoegang is enkel bereikbaar via trappen. Er is een alternatieve ingang voor rolstoelgebruikers, op de hoek met de Kantienberg. Bel je daar aan, dan zal een medewerker je binnenlaten en verder helpen.<br>
    Het museum is grotendeels toegankelijk voor bezoekers in een rolstoel. De meeste zalen kunnen bereikt worden met de centrale lift, plateauliften of oprijgoten. De plateauliften kunnen niet gebruikt worden door elektrische rolstoelen. De oprijgoten in de zaal Evolutie/De mens zijn niet toegankelijk voor rolstoelen met ongelijke voor- en achterwielen. De zaal Kei-Cool en de gang Evolutie/ Oude Tijd zijn enkel bereikbaar via de trap en dus niet toegankelijk voor rolstoelgebruikers.</p>
    <h3>Personen met een auditieve beperking</h3>
    <p>In de museumzalen zijn informatieve zaalteksten aanwezig.</p>
    <h3> Personen met een visuele beperking</h3>
    <p> De museumzaal over vogels is volledig aangepast aan bezoekers met een visuele beperking (<a href="#!">meer info over Susketwiet</a>). Er is momenteel geen audioguide beschikbaar maar onze medewerkers beantwoorden met plezier alle vragen.</p>
    <p>Kom je met de tram of bus naar het museum? <a href="#!"> Download dan vooraf één van de routebeschrijvingen vanaf de dichtstbijzijnde haltes.</a></p>
    <p>Nog vragen over je bezoek? Aarzel niet om ons vooraf te verwittigen via <a href="#!">kinahuis@stad.gent</a> of 09 323 62 50.</p>
    <p>Assistentiehonden zijn toegelaten in het museum. Begeleiders mogen het museum gratis bezoeken. Wij aanvaarden de <a href="#!">European Disability Card.</a> </p> --}}
    <WidgetKinaHuis
      @id="kinaHuis"
      @title="ToegankelijkheidsInfo"
      @widgetCheck="#8BAE00"
    />
    <p class="au-u-margin-top-huge"><a href="/" class="au-d-link au-d-link--neutral">&leftarrow; Terug naar overzicht</a></p>
  </div>
</div>