<h2>Kina - Het Huis</h2>
<div class="au-d-component au-d-component--small">
  <WidgetKinaHuis @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" @theme="au-w-theme-minimal" />
</div>

<h2>Kina - De Tuin</h2>
<div class="au-d-component au-d-component--small">
  <WidgetKinaTuin @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" @theme="au-w-theme-minimal" />
</div>

<h2>Stam</h2>
<div class="au-d-component au-d-component--small">
  <WidgetStam @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" @theme="au-w-theme-minimal" />
</div>