<header class="au-o-region-large au-d-theme-neutral-lightest au-u-padding-bottom">
  <div class="au-o-layout">
    <p><a href="/" class="au-d-link au-d-link--neutral">&leftarrow; Terug naar overzicht</a></p>
    <div class="au-d-editor">
      <h1 class="">Toegankelijkheid Widget</h1>
      <hr>
    </div>
  </div>
</header>

<main class="au-o-region au-d-theme-neutral-lightest">
  <div class="au-o-layout au-d-editor">
    <h2>Kina - Het Huis</h2>
    <div class="au-d-component">
      <WidgetKinaHuis @id="kinaHuis" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" />
    </div>

    <h2>Kina - De Tuin</h2>
    <div class="au-d-component">
      <WidgetKinaTuin @id="kinaTuin" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" />
    </div>

    <h2>Stam</h2>
    <div class="au-d-component">
      <WidgetStam @id="stam" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" />
    </div>

    <h2>Test</h2>
    <div class="au-d-component">
      <Widget @dataResource="http://toevla.org/id/musea/2398"/>

    </div>
  </div>
</main>
