<div class="au-d-component">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-2@medium au-d-editor au-d-editor--kina">
      <div class="au-d-icon">
        <img src="/assets/img/hetHuis.png" alt="">
      </div>
      <h2>De wereld van Kina: het Huis</h2>
      <h3>Minder mobiele bezoekers</h3>
      <p>De dichtstbijzijnde parkeerplaatsen voor rolstoelgebruikers bevinden zich in de parkeergarage Sint-Pietersplein, of dichtbij de alternatieve ingang op het Kramersplein.</p>
      <p>De wereld van Kina: het Huis is ondergebracht in een historisch gebouw. De toegankelijkheid voor personen met beperkte mobiliteit is daardoor niet optimaal.</p>
      <p>De hoofdtoegang is enkel bereikbaar via trappen. Er is een alternatieve ingang voor rolstoelgebruikers, op de hoek met de Kantienberg. Bel je daar aan, dan zal een medewerker je binnenlaten en verder helpen.<br>
      Het museum is grotendeels toegankelijk voor bezoekers in een rolstoel. De meeste zalen kunnen bereikt worden met de centrale lift, plateauliften of oprijgoten. De plateauliften kunnen niet gebruikt worden door elektrische rolstoelen. De oprijgoten in de zaal Evolutie/De mens zijn niet toegankelijk voor rolstoelen met ongelijke voor- en achterwielen. De zaal Kei-Cool en de gang Evolutie/ Oude Tijd zijn enkel bereikbaar via de trap en dus niet toegankelijk voor rolstoelgebruikers.</p>
      <h3>Personen met een auditieve beperking</h3>
      <p>In de museumzalen zijn informatieve zaalteksten aanwezig.</p>
      <h3> Personen met een visuele beperking</h3>
      <p> De museumzaal over vogels is volledig aangepast aan bezoekers met een visuele beperking (<a href="#!">meer info over Susketwiet</a>). Er is momenteel geen audioguide beschikbaar maar onze medewerkers beantwoorden met plezier alle vragen.</p>
      <p>Kom je met de tram of bus naar het museum? <a href="#!"> Download dan vooraf één van de routebeschrijvingen vanaf de dichtstbijzijnde haltes.</a></p>
      <p>Nog vragen over je bezoek? Aarzel niet om ons vooraf te verwittigen via <a href="#!">kinahuis@stad.gent</a> of 09 323 62 50.</p>
      <p>Assistentiehonden zijn toegelaten in het museum. Begeleiders mogen het museum gratis bezoeken. Wij aanvaarden de <a href="#!">European Disability Card.</a> </p>
      <WidgetKinaHuis @id="kinaHuis" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" @theme="au-w-theme-kina" />
    </div>
    <div class="au-o-grid__item au-u-1-2@medium au-d-editor au-d-editor--kina">
      <div class="au-d-icon">
        <img src="/assets/img/deTuin.png" alt="">
      </div>
      <h2>De wereld van Kina: de Tuin</h2>
      <h3>Minder mobiele bezoekers</h3>
      <p>De dichtstbijzijnde parkeerplaatsen voor rolstoelgebruikers bevinden zich in de Tolhuislaan (ter hoogte van huisnummer 107).<br>
      Het museumgebouw en de educatieve tuin zijn grotendeels toegankelijk voor bezoekers in een rolstoel. In het museumgebouw zijn geen trappen aanwezig. Alle ruimtes bevinden zich op de begane grond.<br>
      Het brede hoofdpad naar het gebouw  is uitgevoerd in vaste aarde. Voor de dubbele inkomdeur is een kleine overbrugbare drempel.<br>
      Er is <strong>geen</strong> aangepast sanitair aanwezig.</p>
      <h3>Personen met een auditieve beperking</h3>
      <p>In de museumzalen zijn informatieve zaalteksten aanwezig.</p>
      <h3>Personen met een visuele beperking</h3>
      <p>Er is momenteel geen audioguide beschikbaar maar onze medewerkers beantwoorden met plezier alle vragen.</p>
      <p>Nog vragen over je bezoek? Aarzel niet om ons vooraf te verwittigen via <a href="#!">kinahuis@stad.gent</a> of 09 323 62 50.</p>
      <p>Assistentiehonden zijn toegelaten in het museum. Begeleiders mogen het museum gratis bezoeken. Wij aanvaarden de <a href="#!">European Disability Card.</a> </p>
      <WidgetKinaTuin @id="kinaTuin" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @theme="au-w-theme-kina" />
    </div>
  </div>
</div>