<div class="au-d-theme-white">
  <img src="/assets/img/stam-header.jpg" alt="" class="au-d-component-header">
  <div class="au-d-component au-d-component--full">
    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2@medium au-d-editor au-d-editor--stam">
        <h2>Het STAM is in deze tijden van corona gesloten minstens t.e.m. 19 april 2020.</h2>
        <p>STAM - Stadsmuseum Gent<br>Bijlokesite<br>Godshuizenlaan 2<br>B-9000 Gent<br><a href="mailto:info@stamgent.be">info@stamgent.be</a><br>T +32 (0)9 267 14 00<br></p>
        <p class="body--buttons"><a href="https://www.google.be/maps/dir/''/bereikbaarheid+stam/@51.0441202,3.6469442,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x47c3715c366d12d7:0x92fa5c95aa03ea84!2m2!1d3.7169838!2d51.0441411" target="_blank">plan je route</a><a href="https://stamgent.be/nl_be/bereikbaarheid" target="_blank">bereikbaarheid</a></p>
        <p><img src="https://stamgent.be/assets/files/site/pages/icon-wheelchair.jpg" alt="icon-wheelchair.jpg#asset:100:url"> : museum volledig toegankelijk voor rolstoelgebruikers / rolstoelen te reserveren via <a href="mailto:mailto:info@stamgent.be">info@stamgent.be</a> / parkeerplaats voorbehouden aan Godshuizenlaan / hellend vlak op hoek Godshuizenlaan - Bijlokekaai /<br>enkel geleidehonden toegestaan in het museum</p>
        <WidgetStam @id="stam" @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @theme="au-w-theme-stam" />
        <h2><br>openingstijden<br></h2>
        <p><img src="https://stamgent.be/assets/files/site/bezoek-STAM/openingstijden.jpg"><br></p>
        <p>GESLOTEN op woensdag (ook tijdens schoolvakanties en op feestdagen) en op 24, 25, 31 december en 1 januari</p>
      </div>
      <div class="au-o-grid__item au-u-1-2@medium au-d-editor au-d-editor--stam">
        <h2>toegangsprijzen<br></h2>
        <p>Inclusief 'Het verhaal van Gent' én de tijdelijke tentoonstellingen. <a href="https://stamgent.be/nl_be/nieuws/sluiting-en-remake-van-het-verhaal-van-gent">Van 4 mei t.e.m. 9 oktober 2020 zal 'Het verhaal van Gent' gesloten zijn.</a><br></p>
        <h5>8 euro:</h5>
        <p>basistarief</p>
        <p>--------------</p>
        <h5>6 euro:</h5>
        <p>groepen vanaf 15 pers. (per persoon) <a href="http://stamgent.be/nl_be/bezoek-het-stam/in-groep">reserveren aub</a> / senioren 65+ / Gentenaars / UiTPAS Gent / OKV / lerarenkaart of carte prof / Davidsfonds Cultuurkaart</p>
        <p>-------------</p>
        <h5>2 euro:</h5>
        <p>jongeren van 19 t.e.m. 25 jaar / schoolgroepen van volwassenen (per persoon) <a href="http://stamgent.be/nl_be/bezoek-het-stam/in-groep">reserveren aub</a></p>
        <p>--------------</p>
        <h5>1,6 euro:</h5>
        <p>UiTPAS met kansentarief / reservatie via Iedereen Verdient Vakantie / reservatie via VRIJUIT</p>
        <p>--------------</p>
        <h5>gratis:</h5>
        <p>kinderen en jongeren t.e.m. 18 jaar / begeleiders van personen met een beperking / begeleiders van schoolgroepen / ICOM / pers / museumgidsen met gidsenkaart van Toerisme Vlaanderen / museumpas / CityCard Gent / Gentenaars elke zondag van 10 tot 13 uur en tijdens de Gentse Feesten</p>
        <p>--------------</p>
        <p class=""><a href="https://stamgent.be/nl_be/nieuws/audiogidsen-warm-aanbevolen" target="_blank">AUDIOGIDS bij 'Het verhaal van Gent': gratis</a><br><a href="https://stamgent.be/nl_be/nieuws/zondagsrondleidingen-de-derde-zondag-van-elke-maand" target="_blank">INSTAPRONDLEIDINGEN: toegangsprijs + 5 euro</a><br></p>
        <p class="body--buttons"><a href="https://visit.gent.be/nl/goed-om-weten/praktische-info/citycard-gent" target="_blank">citycard gent: 36 euro (48u) of 42 euro (72u)</a><a href="https://www.museumpassmusees.be/?refm=cc5d13cc-fade-4b28-b762-e099edd0d8c5" target="_blank">museumpas: 59 euro</a></p>
        <p class="body--buttons"><a href="http://www.uitingent.be/uitpas" target="_blank">UiTPAS gent</a><br></p>
      </div>
    </div>
    <p class="au-u-margin-top-huge"><a href="/" class="au-d-link au-d-link--neutral">&leftarrow; Terug naar overzicht</a></p>
  </div>
</div>