<h2>Mobiel</h2>
<div class="au-d-component au-d-component--small">
  <Widget @title="ToegankelijkheidsInfo" @category="Toegankelijk Museum" @rating="Basis niveau" @theme="au-w-theme-minimal" />
</div>